[2018-08-08 06:34] lavarajallu opened #5 "Getting issue"
When i was download this app application not run android and ios

getting like this
![screen shot 2018-08-08 at 12 02 41 pm](https://user-images.githubusercontent.com/20550556/43820192-2a3a4780-9b03-11e8-8cdc-8dabebf95846.png)

[2018-08-08 07:04] troublediehard commented on #5
@lavarajallu you have to follow setup process from the readme. As I can see you didn't create `magento.js` file.

[2018-08-08 07:36] #5 closed

[2018-08-09 08:45] benyang2015 opened #6 "how to install on magento2 production"

[2018-08-09 08:48] troublediehard commented on #6
@benyang2015 can you provide any details? There is instruction in the readme. Did you try it?

[2018-08-10 09:42] lavarajallu opened #7 "Categories list displayed but images and Products not displayed yet"
Hi i am followed your application  i am successfully got  the categories . But i am not get the categories images and product images as your follow application.
Especially i am not getting products

I gave my Base URL & AccessToken

[2018-08-10 09:43] troublediehard commented on #7
@lavarajallu can you attach screenshots?

[2018-08-10 09:44] lavarajallu commented on #7
can you come to slack

On Fri, Aug 10, 2018 at 3:13 PM, Dmytro Portenko <notifications@github.com>
wrote:

[2018-08-10 09:46] troublediehard commented on #7
@lavarajallu I've sent you invite to the Slack

[2018-08-10 10:38] #7 closed

[2018-08-10 14:20] troublediehard commented on #6
close due to inactivity.

[2018-08-10 14:20] #6 closed

[2018-08-13 00:44] benyang2015 opened #9 "could you sent a invite Slack link to me?"

[2018-08-13 05:49] troublediehard commented on #9
@benyang2015 sure, share your email and I'll send an invite to you.

[2018-08-13 07:57] marcelowu opened #10 "FAILURE: Build failed with an exception."
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:installDebug'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

Total time: 8.676 secs
Could not install the app on the device, read the error above for details.
Make sure you have an Android emulator running or a device c

[2018-08-13 08:11] troublediehard commented on #10
It doesn't look like something related to the project itself, but something with android run with react native. Please have look following https://stackoverflow.com/questions/44446523/unable-to-load-script-from-assets-index-android-bundle-on-windows

[2018-08-14 03:32] marcelowu commented on #10
I tested it on another cell phone, and showed it.

Installing APK 'app-debug.apk' on 'Moto G Play - 7.1.1' for app:debug
Installed on 1 device.

BUILD SUCCESSFUL
![default](https://user-images.githubusercontent.com/30912144/44070317-811ebac2-9f59-11e8-8764-dd3084e5f54d.PNG)

[2018-08-14 08:44] troublediehard commented on #10
@marcelowu did you try the solution from the screenshot you attached?

[2018-08-15 07:30] marcelowu commented on #10
same thing,  I solved with ubuntu, error windows 7...

[2018-08-15 07:40] marcelowu commented on #10
stripe or paypal future?

[2018-08-15 07:54] troublediehard commented on #10
@marcelowu regarding this thread https://github.com/facebook/react-native/issues/14209 there is some issue with react-native 0.56 on windows, so possible solution is a downgrade to 0.55.4.

`stripe or paypal future?`
I think about payment implementation but in most cases it specific to the store. Probably, I'll add PayPal since it exists by default in Magento.

[2018-08-21 08:29] #10 closed

[2018-08-30 08:45] basanthalluri opened #11 "getting issue when app is downloaded and installed the node modules"

[2018-08-30 08:53] troublediehard commented on #11
@basanthalluri I've already help setup project your college https://github.com/lavarajallu, so I think it makes sense ask him for help.

[2018-08-30 12:40] troublediehard commented on #11
Close due description isn't provided.

[2018-08-30 12:40] #11 closed

[2018-09-01 02:50] benyang2015 opened #12 "support push notifications？"

[2018-09-01 10:07] troublediehard commented on #12
@benyang2015 No, it is not supported, but I'll add it to the future features list.

[2018-09-01 15:38] benyang2015 opened #13 "error after install apk"
<img width="248" alt="221" src="https://user-images.githubusercontent.com/15188607/44947477-12b82c80-ae40-11e8-91f1-a985b5595307.png">

[2018-09-01 18:08] troublediehard commented on #13
@benyang2015 are you using windows?
Regarding this thread https://github.com/facebook/react-native/issues/14209 there is some issue with react-native 0.56 on windows, so possible solution is a downgrade to 0.55.4. And in 0.57 it is expected to be fixed.

[2018-09-02 01:12] benyang2015 commented on #13
I‘m use mac

[2018-09-05 19:13] troublediehard commented on #13
@benyang2015 sorry didn't receive notification on your reply. I can't reproduce this on my end. There is a lot of suggestion over the internet for a similar issue, for example, https://stackoverflow.com/questions/44795384/unable-to-load-script-from-assets-index-android-bundle-make-sure-your-bundle/45409223#45409223. Did you try any?

[2018-09-09 17:51] troublediehard commented on #12
Close as answered.

[2018-09-09 17:51] #12 closed

[2018-09-11 14:39] izuku-franck1555 commented on #13
![screenshot_1536675706](https://user-images.githubusercontent.com/43177617/45367197-a1634100-b5d8-11e8-8e83-0124b8a3ac95.png)
Please i have the same problem... help me @troublediehard... i use windows.

[2018-09-11 16:50] izuku-franck1555 commented on #13
I finally solved my problem but I do not understand this step :
"Put your config inside Content section (config sample)"
please help me

[2018-09-11 16:55] izuku-franck1555 commented on #13
![screenshot_1536684879](https://user-images.githubusercontent.com/43177617/45375036-cad99800-b5eb-11e8-95a9-2c8f06abff4b.png)
that is my presently screen !!!

[2018-09-11 16:58] izuku-franck1555 commented on #13
![screenshot_1536685078](https://user-images.githubusercontent.com/43177617/45375224-3cb1e180-b5ec-11e8-8f6a-08c2ef4ce20c.png)

[2018-09-12 08:16] troublediehard commented on #13
@izuku-franck1555 you need to put your config inside cms block in Magento admin like on screenshot
<img width="1418" alt="screenshot 2018-09-12 11 15 03" src="https://user-images.githubusercontent.com/6594232/45411615-52bbb280-b67d-11e8-9afe-f0999e4d66c6.png">

[2018-09-12 08:36] izuku-franck1555 commented on #13
thank you for answering @troublediehard ... I'm going to try.

[2018-09-12 08:42] izuku-franck1555 commented on #13
But I'm still slightly lost ... Where am I supposed to find my config.

[2018-09-12 12:49] izuku-franck1555 commented on #13
I understood many things today ... In fact it is me who must create my own configuration because the config is the way the page will be arranged.

[2018-09-12 13:31] izuku-franck1555 commented on #13
At present I have four problems:
The first is that there are only two categories in the application, yet I have 8.
The second is that I do not see any product when I click on a category.
The third is where to learn json to create my own config
The last problem is that I have an error message at any time and I do not know if it's the one that causes the other errors.
I am only an apprentice so plea

[2018-09-12 13:35] izuku-franck1555 commented on #13
![01](https://user-images.githubusercontent.com/43177617/45428396-10a06a00-b699-11e8-9904-01ab6e32199c.jpg)
![Uploading 02.jpg…]()
![Uploading 03.png…]()

[2018-09-12 13:36] izuku-franck1555 commented on #13
![02](https://user-images.githubusercontent.com/43177617/45428444-231aa380-b699-11e8-98f7-80b7a2c81b96.jpg)
![03](https://user-images.githubusercontent.com/43177617/45428399-11390080-b699-11e8-8fd7-31fe16223c5d.png)

[2018-09-13 08:42] izuku-franck1555 commented on #13
Ok I create a slack account and I join you.

[2018-09-13 22:17] #13 closed

[2018-09-13 22:18] troublediehard commented on #13
a bunch of issues mentioned so thread became unclear.

[2018-10-01 12:38] vinaysikarwar opened #14 "Getting error Exception in thread "main" java.lang.NullPointerException"
Exception in thread "main" java.lang.NullPointerException
        at org.gradle.wrapper.BootstrapMainStarter.findLauncherJar(BootstrapMainStarter.java:34)
        at org.gradle.wrapper.BootstrapMainStarter.start(BootstrapMainStarter.java:25)
        at org.gradle.wrapper.WrapperExecutor.execute(WrapperExecutor.java:127)
        at org.gradle.wrapper.GradleWrapperMain.main(GradleWrapperMain.java:61

[2018-10-01 12:39] vinaysikarwar commented on #14
Can you please tell what java version is supported in this

[2018-10-01 12:47] troublediehard commented on #14
@vinaysikarwar it is same java version as React Native v0.56. I didn't find official docs but in most cases, it recommended use Java 8.

Can you please describe what are you trying to do? provide steps to reproduce the following issue?

[2018-10-01 12:51] vinaysikarwar commented on #14
I have used Java version 8 and react native latest version.

I am just trying to setup this repo with our Magento version.

But it is throwing error

On Mon, Oct 1, 2018, 6:17 PM Dmytro Portenko <notifications@github.com>
wrote:

[2018-10-01 12:54] troublediehard commented on #14
@vinaysikarwar so can provide details what are you doing? Like
1. Download repository
2. run `npm install`
3. run react-native link
...

etc
from start to the point where you are getting the error.

[2018-10-01 13:37] vinaysikarwar commented on #14
OK installed everything from fresh and that error got resolved now. but error in app

1. git clone https://github.com/troublediehard/magento-react-native.git

2. npm install

3. Fresh install of java
	C:\Program Files (x86)\Java\jdk1.8.0_181
	C:\Program Files (x86)\Java\jre1.8.0_181

4. react-native link react-native-vector-icons

5. copy src/config/magento-sample.js to src/config/magento.js

6. s

[2018-10-01 13:38] vinaysikarwar commented on #14
Loading dependency graph, done.
error: bundling failed: Error: Unable to resolve module `AccessibilityInfo` from `C:\ReactNative\mrn\node_modules\react-native\Libraries\react-native\react-native-implementation.js`: Module `AccessibilityInfo` does not exist in the Haste module map

This might be related to https://github.com/facebook/react-native/issues/4968
To resolve try the following:
  1. Clear

[2018-10-01 13:48] troublediehard commented on #14
@vinaysikarwar do you have same error as here https://github.com/troublediehard/magento-react-native/issues/10#issuecomment-412743713 ?

Or like here https://github.com/troublediehard/magento-react-native/issues/13#issuecomment-420297904

[2018-10-01 13:50] vinaysikarwar commented on #14
yes same issue. so do i downgrade to lower version

[2018-10-01 13:53] troublediehard commented on #14
@vinaysikarwar yes, I think you can try either downgrade to 0.55 and upgrade to 0.57. I'm not using Windows can't say for sure is it resolve the issue.

[2018-10-01 14:02] vinaysikarwar commented on #14
@troublediehard Thanks.

I upgraded to latest 0.57 but another error.
Loading dependency graph, done.
error: bundling failed: SyntaxError: C:\ReactNative\mrn\node_modules\react-native\Libraries\Image\Image.android.js: Support for the experimental syntax 'optionalChaining' isn't currently enabled (221:13):

  219 |   let style;
  220 |   let sources;

      |             ^
  222 |     /* $FlowFixMe

[2018-10-01 22:44] troublediehard commented on #14
@vinaysikarwar can you share your `package.json` file?

[2018-10-02 03:27] vinaysikarwar commented on #14
Please check the attached file . I am not sure why it requires bable core
module. after installing that also it gives optional chaining error and
also bable module are not stable that throws error.

On Tue, Oct 2, 2018 at 4:14 AM Dmytro Portenko <notifications@github.com>
wrote:

[2018-10-02 04:33] vinaysikarwar commented on #14
FResh install gives optional chaining error

Loading dependency graph, done.
 BUNDLE  [android, dev] ..\..\../index.js ▓▓▓▓▓▓▓▓▓▓░░░░░░ 64.3% (667/832)::ffff:127.0.0.1 - - [02/Oct/2018:04:30:46 +0000] "GET /index.delta?platform=android&dev=true&minify=false HTTP/1.1" 500 - "-" "okhttp/3.10.0"
error: bundling failed: SyntaxError: C:\ReactNative\mrn\node_modules\react-native\Libraries\Components\Swi

[2018-10-02 06:28] vinaysikarwar commented on #14
Optional chaining error resolved by updating the .babelrc file like below.

`{
  "plugins": [
	"@babel/plugin-proposal-optional-chaining"
  ],
  "presets": [
	"react-native"
  ]
}`

[2018-10-02 06:29] vinaysikarwar commented on #14
but then there is new error

Loading dependency graph, done.
 BUNDLE  [android, dev] ..\..\../index.js ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 99.1% (850/854)::ffff:127.0.0.1 - - [02/Oct/2018:06:27:41 +0000] "GET /index.delta?platform=android&dev=true&minify=false HTTP/1.1" 500 - "-" "okhttp/3.10.0"
error: bundling failed: TypeError: Cannot read property 'bindings' of null
    at Scope.moveBindingTo (c:\ReactNative\mrn\

[2018-10-02 08:29] troublediehard commented on #14
Can you join my Slack workspace? Send me your email to troublesohard@gmail.com

[2018-10-04 05:55] vinaysikarwar commented on #14
Finally all issues are resolved and I will share the guidelines to follow to setup it in windows

[2018-10-04 05:55] #14 closed

[2018-10-04 05:58] vinaysikarwar commented on #14
But I am not sure if things are working as you have shown the demo. At my ends nothing loading fine in app. shows all categories link in home and no content on click. only loading icon

[2018-10-04 07:39] troublediehard commented on #14
@vinaysikarwar glad to hear you resolved the issue. Rich me in Slack I'll explain to you how to configure app or why it works as expected.

[2018-10-21 15:09] benyang2015 opened #15 "a new magento2 react-native project"
this project can same with the following？
https://codecanyon.net/item/complete-react-native-app-for-magento2-ecommerce-websites/22174264

[2018-10-21 15:39] troublediehard commented on #15
@benyang2015 no, it is different.

[2018-10-21 15:39] #15 closed

[2018-11-19 17:02] MzkZeeshan opened #16 "Show this Error on android"
![img_20181117_205140537](https://user-images.githubusercontent.com/36148341/48722896-07a6b880-ec47-11e8-8c70-ad3a556c8702.jpg)

[2018-11-19 17:11] troublediehard commented on #16
@MzkZeeshan try to check following https://github.com/react-community/create-react-native-app/issues/721

[2018-11-19 17:32] MzkZeeshan commented on #16
but i am create new project  rect-natvie cli it work but your project is not working

[2018-11-19 17:34] troublediehard commented on #16
what is version of React Native you created? Did you check my response on the GitHub?

[2018-11-19 17:38] MzkZeeshan commented on #16
0.56.0

[2018-11-19 17:41] troublediehard commented on #16
what command are you used to create new project?

[2018-11-19 17:48] MzkZeeshan commented on #16
react-native init NewProject

[2018-11-19 18:06] troublediehard commented on #16
@MzkZeeshan you can find a lot of solution in the internet related to the issues for example here https://stackoverflow.com/questions/48756550/unable-to-resolve-module-accessibilityinfo-when-trying-to-create-release-bund. It is bug not related specifically to this project, but something inside react native with Windows combo (as I understand from info in the internet). I don't have Windows and can

[2018-11-19 18:07] MzkZeeshan commented on #16
ok

[2018-11-22 19:54] MzkZeeshan commented on #16
I am having this warning isMounted(...) is deprecated in plain Javascript classes. Instead, make sure to clean up subscriptions and pending requests in componentWillUnmount to prevent memory leaks.
This warning shows up when transitioning from collapsed to non-collapsed. I tried to find where isMounted is used in the code but with no luck. and my order is not placed

[2018-11-22 19:56] MzkZeeshan commented on #16
and previous Error Resolve this way first delete node_modules folder  and in package.json
change react-native version "react-native": "0.55.2", and
  babel "babel-preset-react-native": "4", after that run yarn install or
npm install and run its work fine for me.

[2018-11-22 20:01] troublediehard commented on #16
It is not used in the project directly, most likely it is some of the dependencies. But deprecation isn't error, it is only mean that it will not be used in a future release, so I'm not going to check it until it is really necessary.

[2018-11-22 20:02] troublediehard commented on #16
thanks for sharing this.

[2018-11-22 20:03] MzkZeeshan commented on #16
but my order is not placed

[2018-11-22 20:05] MzkZeeshan commented on #16
this application say your order is placed but when i check in  admin in Dashboard no order there

[2018-11-22 20:08] troublediehard commented on #16
check place order request response.

[2018-11-22 20:12] MzkZeeshan commented on #16
Order placed successfully but ordre is not done

[2018-11-22 20:16] troublediehard commented on #16
order not placed if there is no order in admin

[2018-11-22 20:16] troublediehard commented on #16
so place order request should return some error

[2018-11-22 20:16] #16 closed

[2018-11-22 20:17] MzkZeeshan commented on #16
NO Error Show

[2018-11-22 20:19] troublediehard commented on #16
are you a developer? do you know how Rest API works? or how JavaScript `fetch` function works?

[2018-11-24 11:56] MzkZeeshan commented on #16
can you Invite me in slack my email address is zeeshankhanaptech@gmail.com

[2018-11-26 10:50] MzkZeeshan opened #17 "magento app does not place order"
when i am place its say your order is sucessfully done bur then i check in my admin pannel it does not have order

[2018-11-26 10:53] MzkZeeshan commented on #17
its my humble request for you

[2018-11-26 10:54] troublediehard commented on #17
Did you check the response from place order request?

p.s. don't worry I'm very tired as well, I think even more than you.

[2018-11-26 10:55] MzkZeeshan commented on #17
why you tired

[2018-11-26 10:56] troublediehard commented on #17
and why you?

[2018-11-26 10:57] MzkZeeshan commented on #17
when i am place its say your order is sucessfully done bur then i check in my admin pannel  it does not have order

[2018-11-26 10:57] MzkZeeshan commented on #17
because order is not successfully done

[2018-11-26 10:58] troublediehard commented on #17
and what makes you tired?

[2018-11-26 10:58] MzkZeeshan commented on #17
plz help us

[2018-11-26 11:02] troublediehard commented on #17
I can't help you because you are not sharing information about your problem. I've asked you at least 4-5 time check fetch request-response, but you just keep saying it is not working.

Please share some useful information so we can resolve it.

[2018-11-26 11:13] troublediehard commented on #17
Do you understand what I'm asking you? Where did you stuck with checking response?

[2018-11-27 15:21] troublediehard commented on #17
Also, you can join Slack workspace it would be easier to guide you how to debug your problem there.

[2018-11-29 10:16] troublediehard commented on #17
Close issue because error details weren't provided.

[2018-11-29 10:16] #17 closed

[2019-03-19 17:55] italolourenco opened #29 "Problem build demo with react-native-vector-icons"
I have a problem build this demo:

Problem

A problem occurred evaluating project ':react-native-vector-icons'.

[2019-03-19 18:01] troublediehard commented on #29
hey @italolourenco, I've just made commit with gradle version update. Can you try again?

[2019-03-19 18:52] italolourenco commented on #29
Thanks @troublediehard. The build is ok now but in device return error "The development server returned response erro code: 500"

[2019-03-19 18:54] troublediehard commented on #29
can you share screenshot?

[2019-03-19 22:35] troublediehard commented on #29
@italolourenco you can try following solution https://github.com/troublediehard/magento-react-native/issues/16#issuecomment-441111803

[2019-03-29 19:40] troublediehard commented on #29
closing this issue since RN version was updated

[2019-03-29 19:40] #29 closed

[2019-04-02 10:26] imran1992 opened #37 "Product prices"
When I open the app all prices appear as zero and after couple of seconds actual prices rendered.
Why is this happening and how to resolve this?

[2019-04-02 10:41] troublediehard commented on #37
@imran1992 Magento API returns 0 for configurable products, so it takes time to fetch simple children for it and set price. As a resolution, you can show a price for configurable products only after children are fetched.

[2019-04-06 09:12] #37 closed

[2019-04-17 11:08] alexakasanjeev opened #38 "How to configure CMS block to get image slider and featured product in JSON response?"
I have created a cms block and added two category list in it, one is men sale and other is women sale, I don't know which plugin you have used to show  image carousel(slider) hence i haven't added any image slider.

When i am hitting this api
`http://13.233.82.59/magento/index.php/rest/default/V1/cmsBlock/19`

I am getting this response in JSON API
`{"id":19,"identifier":"MHP9","title":"Mobile Hom

[2019-04-17 15:31] troublediehard commented on #38
As I can see you receive the same data as you put to the cms block, so it is working correctly. What do you want to receive on the mobile app end?

[2019-04-18 07:07] alexakasanjeev commented on #38
I want the response that you are getting for home data

`{
  "slider": [
    {
      "title": "New Luma Yoga Collection",
      "image": "wysiwyg/home/home-main.jpg"
    },
    {
      "title": "Even more ways to mix and match",
      "image": "wysiwyg/home/home-t-shirts.png"
    },
    {
      "title": "Find conscientious, comfy clothing in our eco-friendly collection",
      "image": "wysiwyg/ho

[2019-04-18 07:53] troublediehard commented on #38
To get such result, you have to put it to the cms block content.
<img width="877" alt="Screen Shot 2019-04-18 at 10 52 03 AM" src="https://user-images.githubusercontent.com/6594232/56345313-1d091a00-61c8-11e9-8bab-1ea47385e1fb.png">

[2019-04-18 10:15] alexakasanjeev commented on #38
So you mean you manually typed in this format in the editor????

[2019-04-18 10:16] troublediehard commented on #38
yes, no magic :)

[2019-04-18 10:31] troublediehard commented on #38
if you want to generate it automatically, you have to create Magento module which will have admin interface, will generate this output from your selection, and create custom API endpoint to get this information.

[2019-04-18 16:39] alexakasanjeev commented on #38
Ok thanks for clarification, and how did you know image url, "wysiwg/home/home-t-shirts.png", ??

[2019-04-18 16:44] troublediehard commented on #38
on magento side it was added from wysiwg editor
<img width="1001" alt="Screen Shot 2019-04-18 at 7 41 52 PM" src="https://user-images.githubusercontent.com/6594232/56377140-5f574900-6212-11e9-8d31-d99a1d2d2d6d.png">

on mobile app side
[code]

[2019-04-19 06:12] #38 closed

[2019-05-15 06:15] alexakasanjeev opened #45 "Order screen show previous user orders, if logout and logged in from new account"
**DESCRIPTION:** I logged it into an account, it showed the order related to that customer, now I logged out and created new account(app instance was never closed), In my order screen it showed previous user order.

**Expected behavior:**
My order screen should have been blank

But once I closed the app completely and relaunched, it showed blank screen in OrderScreen

[2019-05-15 08:13] troublediehard commented on #45
Thanks, @alexakasanjeev. Good point, we need to clean up user-related data on log out.

[2019-05-27 17:41] troublediehard commented on #45
fixed

[2019-05-27 17:41] #45 closed

[2019-05-27 19:33] mak147 opened #50 "Product that you are trying to add is not available"
**Describe the bug**
"Product that you are trying to add is not available" this message is not cleared when visiting other available product

**Expected behavior**
"Product that you are trying to add is not available" this message should be cleared after page refreshed..

**Current Behavior**
"Product that you are trying to add is not available" this message not cleared when visiting available pro

[2019-05-27 19:38] mak147 opened #51 "Can you add push notification in this app it would great feature for targeting cutomers"
**Is your feature request related to a problem? Please describe.**
No its not related to problem.

[2019-05-27 20:03] troublediehard commented on #51
I can add it, but not sure if I should. To add Push Notifications with Firebase you need simply add dependencies and follow all setup instructions like here https://medium.com/@anum.amin/react-native-integrating-push-notifications-using-fcm-349fff071591. But it will increase the complexity of the initial project setup. And for people who don't need it or don't want to use Firebase, it will be a pr

[2019-05-27 20:48] troublediehard commented on #50
@mak147 thanks for the report, @Dtema1996 please take a look.

[2019-05-28 03:49] mak147 commented on #50
Yes perfectly working now

[2019-05-28 03:56] mak147 opened #52 "Need product name text overflow hidden"
Can bigger product name adjusted in one line and more text can be hidden so that it doesn't effect the product image to displaced and text will be within the product name box.thanks

![IMG_20190528_084638](https://user-images.githubusercontent.com/43117548/58449955-4d789800-8126-11e9-967e-2e4219555ebf.jpg)

[2019-05-28 04:10] mak147 opened #53 "Can add to cart button adjusted after product gallery?"
Please adjust the add to cart button and quantity info after product image gallery in product detail page so that customer don't have to scroll down or search for add to cart button while initiating add to cart button on multiple lines short discription
![IMG_20190528_084743](https://user-images.githubusercontent.com/43117548/58450355-fffd2a80-8127-11e9-807e-a0f5cf8f3fc9.jpg)
![Screenshot_2019-05-

[2019-05-28 04:12] mak147 commented on #51
If its implemented it would be great feature.thanks for replay.

[2019-05-28 04:12] #51 closed

[2019-05-28 08:19] troublediehard commented on #50
No actions were taken still has to be reviewed.

[2019-05-28 08:20] troublediehard commented on #52
@Dtema1996 please take a look.

[2019-05-28 08:26] mak147 commented on #50
Ohh sorry i thought you fixed it.

[2019-05-28 14:17] Dtema1996 commented on #50
@troublediehard check it out, please

[2019-05-28 14:17] Dtema1996 commented on #52
@troublediehard Check it out, please

[2019-05-28 14:24] Dtema1996 commented on #53
@troublediehard Check my pull request, please.

[2019-05-28 14:27] troublediehard commented on #53
done

[2019-05-28 14:27] #53 closed

[2019-05-28 14:28] troublediehard commented on #52
done

[2019-05-28 14:28] #52 closed

[2019-05-28 14:28] troublediehard commented on #50
done

[2019-05-28 14:28] #50 closed

[2019-06-07 08:31] sodhanii opened #56 "Cart refreshes and blanks out"
Hi,

For some weird reason cart resets itself when I navigate between pages.

Store IP - http://13.127.13.193/

I can email you admin credentials.

Let me know if you can help.

[2019-06-07 08:48] troublediehard commented on #56
hi @sodhanii, please join slack workspace via link https://join.slack.com/t/magento-react-native/shared_invite/enQtNjE3ODY0MDUxOTQyLWU4MzViODdmMTg0NTQ5MGVjYjM1ODI4ZTgxZDJhYzFlNjMyOTI2MmZiZDIxNDBmZDJjNTQ5MGIyYmY4NzMxMzE
so we can discuss it in details

[2019-06-07 21:00] troublediehard commented on #56
fixed in https://github.com/troublediehard/magento-react-native/commit/f2ef126219b6a4c552ed27a8ac3ccd81d7f4b54f

[2019-06-07 21:01] #56 closed

[2019-06-08 09:18] alexakasanjeev opened #57 "Update README file and add CONTRIBUTING and CODE_OF_CONDUCT"
**Are there certain things to report that are not a bug or feature?**
I would like to update **README** file to look like this [README file](https://github.com/alexakasanjeev/magento_react_native/blob/develop/README.md)
I would like to add [CODE_OF_CONDUCT file](https://github.com/alexakasanjeev/magento_react_native/blob/develop/CODE_OF_CONDUCT.md) which is generic and can be added to any project

[2019-06-17 09:39] troublediehard commented on #57
@alexakasanjeev
`The README changes that I am proposing aren't much that different from your already existing README file`
Not sure what exactly you want to change.

`The CODE_OF_CONDUCT file is a generic one and can be added without any change.`
Why does the project need it? My personal feeling - I don't want to spend time to read it, so why anybody else cares?

`The CONTRIBUTING file is pretty s

[2019-06-17 09:59] alexakasanjeev commented on #57
First one: basically it was shiny label and icons(doesn't make sense over actual issue)
Second one: Agree, I didn't read myself.
Third one: I agree, I think better documentation on how to setup project has higher priority.

Damn, you just changed my entire perspective with one line.

[2019-06-17 09:59] #57 closed

[2019-06-17 10:04] troublediehard opened #58 "Better setup project instructions"
**Issue**
Time to time people asks me to help with the initial project setup.

**Solution**
To create a detailed step by step setup guide with screenshots.

[2019-06-21 08:17] alexakasanjeev commented on #58
Hi @troublediehard I just wrote a wiki which contains details step on how to setup the project
https://github.com/alexakasanjeev/magento_react_native/wiki/Setup

if you like it and you haven't started working on this issue, I can create a similar wiki with details instruction for you(your setup guide and my setup guide are not much different)

[2019-06-21 08:30] troublediehard commented on #58
@alexakasanjeev ah, looks great! I'll appreciate if you can add it to my project as well.

[2019-06-21 08:51] alexakasanjeev commented on #58
Sure, I will start working on it :)

[2019-06-21 09:03] alexakasanjeev commented on #58
I cannot add new pages and add images as I don't have repository access, can you add me as a `collaborators` with write access(you can revoke the access after I am done editing wiki)

https://help.github.com/en/articles/adding-outside-collaborators-to-repositories-in-your-organization

[2019-06-21 09:14] troublediehard commented on #58
I've added you as a collaborator.

[2019-06-21 09:56] alexakasanjeev commented on #58
I am writing the instructions, in your readme instructions, you have mentioned how to add intregation token, but in your magento.sample.js file
[code]

[2019-06-21 10:15] troublediehard commented on #58
@alexakasanjeev I've just removed `login` part, I think it is redundant now

[2019-06-21 10:16] alexakasanjeev commented on #58
ok, no problem

[2019-06-21 10:57] alexakasanjeev commented on #58
Hi @troublediehard I have done creating the wiki, but i still cannot push the code, I am sending you the files, please follow the following steps

1. clone the wiki repo locally
[code]
2. Delete all files except `.git` folder in it
3. Copy all the files from this [zip](https://drive.google.com/file/d/1WKIePt-KMTUw_JJNZi91oMTk8510E0Nk/view?usp=sharing) into the `magento-react-native.wiki` folder
4.

[2019-06-21 15:16] troublediehard commented on #58
thanks @alexakasanjeev

[2019-06-21 15:16] #58 closed

[2019-06-21 17:08] alexakasanjeev commented on #58
Always happy to help :) I implore you to keep on working on this app, in making it better, so that I can learn it too and create a really good usable product.

[2019-07-03 19:25] alexakasanjeev opened #59 "Handle 401 http error in fetch and show error on screen"
**Is your feature request related to a problem? Please describe.**
Currently in `magento/index.js` send function doesn't handle 401 or other error HTTP code, which in turn doesn't use full potential of `try catch` block written in `RestAction.js` and there is need to manually check if there is error message from the HTTP response.

**Describe the solution you'd like**
Handle HTTP error status code

[2019-07-05 12:32] alexakasanjeev opened #64 "Remove unnecessary use of Promise in API call"
**Is your feature request related to a problem? Please describe.**
Currently API calling required three nested Promises use
1. from `fetch`, inetrnal `Promise`
[code]
2. top level `Promise` return from function `send` in  `magento/index.js` file
[code]
3. Promise written in `admin/index.js`, `customer/index.js` and `guest/index.js` file
[code]

**The third `Promise` is totally unnecessary.** We ca

[2019-07-08 13:53] alexakasanjeev opened #66 "Use currency API to fetch currency symbol"
**Is your feature request related to a problem? Please describe.**
Currently the currency symbol are statically defined in `src/helper/price.js` and `priceSignByCode` function is used to get currency symbol. There is a currency API `/V1/directory/currency` which returns the default currency along with currency symbol. This API should be used to append currency Symbol to the prices instead of manua

[2019-07-13 08:15] troublediehard commented on #64
fixed in https://github.com/troublediehard/magento-react-native/pull/65

[2019-07-13 08:15] #64 closed

[2019-07-13 08:20] troublediehard commented on #59
fixed in https://github.com/troublediehard/magento-react-native/pull/60

[2019-07-13 08:20] #59 closed

[2019-07-13 11:55] troublediehard commented on #66
@alexakasanjeev sure, you can add if you like.

[2019-07-14 04:58] alexakasanjeev commented on #66
ok, I will work on this issue.

[2019-07-18 12:35] alexakasanjeev commented on #66
Created a pull request, please review when you will have time, and I have also commented on some changes.

[2019-07-22 08:05] #66 closed

[2019-08-08 11:17] troublediehard opened #68 "Crash on the checkout"
In the Magento admin panel i removed all the countries and regions except South Africa

![Screenshot_20190808-130810_magento_mobile_app](https://user-images.githubusercontent.com/6594232/62699052-4b18a100-b9e7-11e9-95ec-57d31512f241.jpg)

[2019-08-08 11:49] troublediehard commented on #68
resolved with https://github.com/troublediehard/magento-react-native/commit/1cd798cdc5b14cbea4a7abc42032b70dea37726f

[2019-08-08 11:49] #68 closed

[2019-09-08 19:41] Insha-Siddiquii opened #69 "Invariant Violation Error"
I got the below mentioned error when application build and run.
I am using the following versions:
magento: 2.3
react-native-cli: 2.0.1
react-native: 0.59.10
OS : windows10

IMAGE SCREENSHOT FOR ERROR REFERENCE:

![image](https://user-images.githubusercontent.com/49707515/64493505-59820300-d29a-11e9-9ea3-ffc3cbe27b5b.png)

[2019-09-08 21:19] troublediehard commented on #69
@Insha-Siddiquii have you done https://github.com/troublediehard/magento-react-native/wiki/Setup#2-setup-new-cms-block-in-magento-admin-which-will-be-used-in-homepage ? It looks like something wrong with your homepage config.

[2019-09-10 15:33] Insha-Siddiquii commented on #69
yeah i followed all setup guide and there was no problem in that. I inspected the problem , this was actually with react native that does not allow my store url to fetch data and initialize magento. Problem solved when i changed my store url  from http://localhost/xxxxx to http://ip-address:port/xxxx.

[2019-09-10 15:33] #69 closed

[2019-09-10 15:39] troublediehard commented on #69
Happy to hear you solved it.

[2019-09-19 13:07] alexakasanjeev opened #70 "DrawerScreen component accessible at every Screen"
**Describe the bug**
Since `react-native-gesture-handler` is enabled in the code, dragging left across the screen opens up the Drawer. There are two Drawer used one showing [`CategoryTree`](https://github.com/troublediehard/magento-react-native/blob/master/src/components/catalog/CategoryTree.js) and other showing [`DrawerScreen`](https://github.com/troublediehard/magento-react-native/blob/master/s

[2019-09-20 10:24] hkvega01 opened #71 "access_token easily found in index.android.bundle"
if allow all resources for the access token, are there any security risks concern?

[2019-09-20 10:25] troublediehard commented on #71
@hkvega01 you don't have to allow access to all resources

[2019-09-20 10:32] troublediehard commented on #71
I added a note on the setup page
[code]

[2019-09-28 17:57] #71 closed

[2019-10-02 08:27] alexakasanjeev opened #73 "Product with no custom option throw error on AddToCart"
**Describe the bug**
If a product doesn't contain custom option, clicking on `Add To cart` button throws error.

**Expected behavior**
Product should have added to cart and code shouldn't be run which check for custom option if there are no custom option

**Current Behavior**
Currently in code
[code]

`selectedCustomOptions` is null, so iterating over it, is throwing error

**Steps to Reproduce**

[2019-10-02 09:44] #73 closed

[2019-10-03 14:27] alexakasanjeev opened #75 "Create single file for theme related content"
**Is your feature request related to a problem? Please describe.**
I would like to extract all colors, padding, margin, text size etc into single `theme.js`. This will help customize the styling of the app really straight forward, and client can modify the theme to reflect their brand style.

**Describe the solution you'd like**
1. Create [`colors.js`](https://github.com/alexakasanjeev/magento_rea

[2019-10-03 14:29] troublediehard commented on #75
@alexakasanjeev yes, go ahead.

[2019-10-04 14:30] alexakasanjeev commented on #75
Hi, need some context about these two components, both of which are never used anywhere in the code.

- [Confirm](https://github.com/troublediehard/magento-react-native/blob/master/src/components/common/Confirm.js) I am guessing it's a dialog (Need context)
- [ExpandButton](https://github.com/troublediehard/magento-react-native/blob/master/src/components/common/ExpandButton.js) it's similar to But

[2019-10-04 14:34] troublediehard commented on #75
@alexakasanjeev not sure how those components appeared in the project, fill free to remove them if it is not used.

[2019-10-07 15:42] alexakasanjeev commented on #75
Hi Dmytro

I have completed most of the theme related stuff. **Do not merge the branch right now**, I will do some further testing and final changes(revert back original theme) and will create pull request.

https://github.com/troublediehard/magento-react-native/tree/feature/theme

Meanwhile for testing purpose I have chosen dark theme, as I don't have ios could you please test the branch `feature

[2019-10-07 22:21] troublediehard commented on #75
hey @alexakasanjeev,
Wow! Amazing work! I did smoke test the app on iOS and it looks really great!
I haven't reviewed all code yet but generally looks good.

There is no 'sans-serif' font on iOS by default, so I pushed the [fix](https://github.com/troublediehard/magento-react-native/commit/a5fb4d25e575f65559c625c94b0f30be0219b95a) for it.

You can find some default fonts per OS [here](https://gith

[2019-10-08 01:51] alexakasanjeev commented on #75
Thank you for reviewing, please make sure there are no error.

Also, I converted come component into functional component and used react hook for local state.

And about warning, there were lots of component for whom prop-types were not defined, I wrote prop types for many,

So we need to fix the type defined in prop types.

[2019-10-08 11:35] alexakasanjeev commented on #75
Hi @troublediehard
I have created the pull request for the theme functionality.

Also at the end of PR, I have explained how to use this new functionality correctly in the APP. Please I highly implore you to at-least read the guidelines mentioned in the PR. Otherwise it will be pointless for me to do all these changes, id you cannot incorporate in your daily workflow.

And also I have mentioned in

[2019-10-08 11:50] alexakasanjeev opened #77 "Single item placed in cart after successful order placement doesn't show Price"
**Describe the bug**
I'm not able to reproduce this bug every time, but 4-5 times I have encounter this bug, when I'm adding single 'Configurable` item to cart, sometimes, in `Cart` Screen price is not shown, but as soon as I add second item in cart or remove the same product and re-add again, price does show up.

**Expected behavior**
Price should be shown in Cart for items, and at bottom total p

[2019-10-08 16:08] troublediehard commented on #77
I don't think we doing any calculation of cart item price on the mobile app side. I remember I fixed something like this on the Magento side, but not 100% sure.

[2019-10-08 16:42] alexakasanjeev commented on #77
true, but I don't know why but sometimes the price present in CartReducer inside `quote: { items: [ { name: "Herra Pullover", price: 0 ...` is zero so, this code
[code]

which is responsible to show total price in the cart is not getting render. Will try to reproduce.

[2019-10-08 16:44] troublediehard commented on #77
because of `if (sum > 0) {`

[2019-10-08 16:45] alexakasanjeev commented on #77
yes, that is the problem, but that should never happen, the price in `quote: { items: [ { name: "Herra Pullover", price: 0 ...` should not be zero in first place.

[2019-10-08 17:14] #75 closed

[2019-10-09 09:01] troublediehard commented on #77
I found a similar issue from the project I worked on before, the reproducing steps were
1. Complete an order
2. Add one product to the cart.

[2019-10-09 09:04] troublediehard commented on #77
The fix was on the Magento side
[code]

[2019-10-09 09:27] alexakasanjeev commented on #77
Ok, I have no knowledge of how to change/update code on Magento. But good to know.

[2019-10-09 09:29] alexakasanjeev commented on #77
Yes you are right, just placed an order, and then added item to cart, and price was coming zero.

Also I don't know how to work with magento code on backend. I have never tried editing magento code itself. so will keep this point in mind.

[2019-10-09 09:31] troublediehard commented on #77
I'll keep it open for now. I'll create a Magento extension for the fix.

[2019-10-09 09:31] alexakasanjeev commented on #77
sure no problem

[2019-10-09 15:08] troublediehard opened #78 "Cache images with react-native-fast-image library"
**Is your feature request related to a problem? Please describe.**
Images are loading from the website every time, so it causes unnecessary delays and traffic usage.

**Describe the solution you'd like**
1. Install [react-native-fast-image](https://www.npmjs.com/package/react-native-fast-image)
2. Replace all
[code]
usages in the project with
[code]

[2019-10-09 18:03] alexakasanjeev opened #79 "Upgrade: React Native from 0.59.2 to 0.61.2"
**Is your feature request related to a problem? Please describe.**
React native >= 0.60 has some major changes like
- AndroidX support
- Hermes(new JavaScript engine) support
- 64 bit support
- fast refresh
- Auto link library (no need to manually link packages)
- With Hermes unable, build size decreases and performance improves

**Describe the solution you'd like**
Follow these steps to upgrade r

[2019-10-09 18:08] troublediehard commented on #79
hey @alexakasanjeev, can you check Slack, please?

[2019-10-09 18:13] pratikdaigavane commented on #79
Can I work on it?

[2019-10-09 18:18] alexakasanjeev commented on #79
sure @pratikdaigavane go for it

[2019-10-10 04:44] tsturtz commented on #78
im on it

[2019-10-10 04:54] alexakasanjeev commented on #78
Hello @tsturtz , feel free to ask question if need help

[2019-10-10 05:36] tsturtz commented on #78
Thanks - here's the PR: #80

[2019-10-10 15:17] pratikdaigavane commented on #79
#81 done

[2019-10-11 16:43] alexakasanjeev commented on #79
Hi @troublediehard

there are lots of stale branches present in this repo, some of which has been merged(so no longer needed), it could be better if you delete those branches https://github.com/troublediehard/magento-react-native/branches

[2019-10-12 05:34] alexakasanjeev opened #82 "Storybook integration"
**Is your feature request related to a problem? Please describe.**
I would like to incorporate integrate [storybook](https://storybook.js.org) into the App. This will help to keep track of all the ways component especially in [`common`](https://github.com/troublediehard/magento-react-native/tree/master/src/components/common) folder can render, provided different props.

**Describe the solution you

[2019-10-13 01:07] alexakasanjeev commented on #79
Hi @troublediehard

Just tested you branch [rn-upgrade-61.2](https://github.com/troublediehard/magento-react-native/tree/rn-upgrade-61.2) on Android Emulator and getting this error.

![Screenshot_1570928477](https://user-images.githubusercontent.com/13250741/66709515-9e122a00-ed83-11e9-8813-bacfca2ba3dc.png)

and if I comment out his code
[code]

the app is running, but I think `react-native-vecto

[2019-10-13 16:20] troublediehard commented on #79
@alexakasanjeev thanks for a check, but the upgrade isn't finished and it shouldn't work :)

[2019-10-13 16:43] alexakasanjeev commented on #79
ok

[2019-10-16 20:15] #78 closed

[2019-10-17 08:16] troublediehard opened #84 "Eslint config is broken"
TODO: fix eslint config

[2019-10-17 12:51] troublediehard opened #85 "TextInput contentType property"
Add where applicable
1. iOS prop textContentType  https://facebook.github.io/react-native/docs/textinput#textcontenttype
2. Android prop autoCompleteType https://facebook.github.io/react-native/docs/textinput#autocompletetype

[2019-10-17 13:11] alexakasanjeev commented on #82
Working on this one first

[2019-10-17 17:42] alexakasanjeev commented on #84
I can work on this

[2019-10-17 19:32] JuanVqz commented on #85
Hi @troublediehard Are you refering to [textContentType](https://facebook.github.io/react-native/docs/textinput#textcontenttype)? but you are solved this because Input component has `{...props}` and cover **textContentType** prop.

example:
[code]

[2019-10-17 21:40] troublediehard commented on #85
@JuanVqz thanks

[2019-10-18 10:15] troublediehard commented on #84
go ahead

[2019-10-19 19:54] troublediehard opened #88 "Update demo gif"
The current demo gif is outdated. Need to update the demo gif file.

[2019-10-19 19:56] alexakasanjeev commented on #88
I would do that,

could you please mention which screens or feature you want to show

[2019-10-19 20:14] troublediehard commented on #88
Pretty much the same as now.

[2019-10-19 20:18] troublediehard commented on #88
some notes how to convert video to gif with ffmpeg https://gist.github.com/dergachev/4627207

[2019-10-20 03:39] alexakasanjeev opened #89 "getCountry function not called in CheckoutCustomerAccount"
**Describe the bug**
In [`CheckoutCustomerAccount`](https://github.com/troublediehard/magento-react-native/blob/master/src/components/checkout/CheckoutCustomerAccount.js) component `componentDidMount` (CDM) function is written twice, hence the first `CDM` function is never called which contain logic to fetch countries, due to which in form there is no country to select. Hence no shipping

[code]

[2019-10-20 07:56] alexakasanjeev commented on #88
Hi @troublediehard I am unable to convert video to gif thats looks good, either it is too low quality or big in size, here is the link to video - [link](https://drive.google.com/file/d/1udsvgl-jAPkadlIrNT9cccRl8059y72u/view?usp=sharing)

[2019-10-20 12:05] #88 closed

[2019-10-20 12:07] #89 closed

[2019-10-20 12:17] troublediehard opened #92 "Add sales price for products"
TODO: Add sales price for products

[2019-10-25 05:22] rameshpuvvadi opened #95 "Payment gateway"

[2019-10-25 05:24] rameshpuvvadi commented on #95
while open payment methods i will choose one payment gateway its not native payment gateway,
Order placed automatically. and one more thing in order history not appear payment mode.

[2019-10-25 05:54] alexakasanjeev commented on #95
Hi @rameshpuvvadi  could you please edit your issue you have opened to have more context and fill the question asked, just remove the line under the bold heading

this will help us to understand what you are asking.
I think you are asking for two things,
1. Bug: When selecting one gateway payment, order is placed automatically

2. Feature: To show which payment gateway was used during order placem

[2019-10-25 11:05] troublediehard commented on #95
@rameshpuvvadi there is the only support for `Check / Money Order` payment method. Any other payment method you have to implement yourself

[2019-10-28 23:09] troublediehard commented on #95
@rameshpuvvadi let me know if you have any questions. I close this issue since no activity here.

[2019-10-28 23:09] #95 closed

[2019-11-01 09:48] alexakasanjeev commented on #84
Hi @troublediehard I tried, but for some reason couldn't get it right, could you handle it

[2019-11-01 11:03] troublediehard commented on #84
sure, np

[2019-11-02 18:48] alexakasanjeev opened #96 "Support localization(i18n) in the App"
**Is your feature request related to a problem? Please describe.**
Currently strings are either hard-coded in each file , which is not good for support of localization.

**Describe the solution you'd like**
1. use `i18n-js` & `react-native-localize` package in App
2. Follow similar project structure as in [ignite-bowser](https://github.com/infinitered/ignite-bowser/tree/master/boilerplate/app/i18n

[2019-11-03 12:12] troublediehard commented on #84
fixed

[2019-11-03 12:12] #84 closed

[2019-11-03 12:14] troublediehard commented on #96
@alexakasanjeev go ahead if you want to work on it.

[2019-11-03 14:06] #82 closed

[2019-11-12 10:02] #96 closed

[2019-11-12 13:55] alexakasanjeev opened #98 "Support Multi currency in App"
**Is your feature request related to a problem? Please describe.**
Allow app to change currency, which will update the currency symbol and currency rate.

**Describe the solution you'd like**

- [x] Create a `Price` component which will replace all manually defined price in `Text` component
- [x] Show drop down to select currency in Home Screen
- [x] Update currency symbol and price rate according

[2019-11-12 14:01] troublediehard commented on #98
@alexakasanjeev sure, go ahead.

[2019-11-22 05:53] Damithdrg opened #102 "About Magento react native app Home page"
Hi, I'm new to magento and react native, I'm up magento 2.2 server and Run this app on android but in app magento home page not shoving and other view are working perfectly.
please guide me how to config the magento sever or app to show the mobile home page,.

thank you .

![Untitled](https://user-images.githubusercontent.com/17777620/69401147-453a9780-0d1a-11ea-93d0-14eb06d1e405.jpg)
![Untitled1]

[2019-11-22 06:12] alexakasanjeev commented on #102
@Damithdrg Did you follow the instructions mentioned in here
https://github.com/troublediehard/magento-react-native/wiki/Setup

[2019-11-22 07:01] Damithdrg commented on #102
thank you alexakasanjeev , but my issue is same i'm follow the setup on    https://github.com/troublediehard/magento-react-native/wiki/Setup
.
my cms_block_config.json lock like this

{
  "slider": [
    {
      "title": "New Luma Yoga Collection",
      "image": "wysiwyg/home/home-main.jpg"
    },
    {
      "title": "Even more ways to mix and match",
      "image": "wysiwyg/home/home-t-shirts.p

[2019-11-22 07:04] troublediehard commented on #102
@Damithdrg please share screenshot of your cms block in Magento admin panel.

[2019-11-22 07:10] Damithdrg commented on #102
thenk you troublediehard,

these are my cms block in Magento admin panel screenshot
![Untitled2](https://user-images.githubusercontent.com/17777620/69405239-27266480-0d25-11ea-84e8-4403a92b473a.jpg)
![Untitled3](https://user-images.githubusercontent.com/17777620/69405240-27266480-0d25-11ea-8a96-b4741c065d31.jpg)

thank you

[2019-11-22 07:49] troublediehard commented on #102
You have to add correct file paths for your  slider images.

1. Press `Show / Hide Editor` <img width="185" alt="Screen Shot 2019-11-22 at 9 45 03 AM" src="https://user-images.githubusercontent.com/6594232/69407360-ff2b0700-0d0c-11ea-9dae-63bacaa15dd4.png">

2. Press `Insert Image...` <img width="598" alt="Screen Shot 2019-11-22 at 9 45 14 AM" src="https://user-images.githubusercontent.com/6594232

[2019-11-22 07:56] Damithdrg commented on #102
Thank You @troublediehard ,

Did I have to add my all image math to  cms_block_config.json file

[2019-11-22 07:58] troublediehard commented on #102
`cms_block_config.json` is just a configuration sample, it doesn't do anything.

[2019-11-22 07:59] alexakasanjeev commented on #102
The slider is actually pretty easy, you don't have to do anything special, the slider is just a json array that contains links to images which has been uploaded in magento.

1. goto `content > Block` in magento admin
2. Open the block you just created in edit mode
3. Click on `Show/Hide Editor` button
4. Click on `Insert Image` button
![insert_image(1)](https://user-images.githubusercontent.com/13

[2019-11-22 08:01] troublediehard commented on #102
@alexakasanjeev this is a great explanation! Can you also add it to the setup doc?

[2019-11-22 08:01] alexakasanjeev commented on #102
sure :smile:

[2019-11-22 08:21] alexakasanjeev commented on #102
done, created new page and added link in Setup guide

[2019-11-22 08:58] Damithdrg commented on #102
Thank you @alexakasanjeev and @troublediehard ,

I config as u shown in configuration , but issue is same as before.

{
    "slider": [
      {
        "title": "New Luma Yoga Collection",
        "image": "wysiwyg/home-white-slider-2.jpg"
      },
      {
        "title": "Even more ways to mix and match",
        "image": "wysiwyg/home/1.jpg"
      },
      {
        "title": "Find conscientious

[2019-11-22 09:51] alexakasanjeev commented on #102
try this
[code]

[2019-11-22 10:05] Damithdrg commented on #102
Thank you @alexakasanjeev

I try it to , but issue is same, is there any setting in magento for mobile home page view,

thank you.

[2019-11-22 10:13] alexakasanjeev commented on #102
did you set the block id that you created in magento.js file
you need to set the block id in which you pasted that json to `home_cms_block_id`

[code]

does your HomePage render anything?

[2019-11-22 10:14] Damithdrg commented on #102
thank You @alexakasanjeev and @troublediehard ,

the issue is now fixed thank you guys so much ,

{
  "slider": [
    {
      "title": "New Luma Yoga Collection",
      "image": "wysiwyg/electronic/photo-1413708617479-50918bc877eb.png"
    },
    {
      "title": "Even more ways to mix and match",
      "image": "wysiwyg/electronic/photo-1413708617479-50918bc877eb.png"
    },
    {
      "title":

[2019-11-22 10:14] #102 closed

[2019-11-22 10:53] #98 closed

[2019-12-04 07:25] sid-metiz opened #104 "Error: JSON Parse error: Unrecognized token '<'"
I Change Base Url and Change token And run the app.. Its giving me Error like

 [SyntaxError: JSON Parse error: Unrecognized token '<']
 LOG  [Error: JSON Parse error: Unrecognized token '<']
![device-2019-12-04-125448](https://user-images.githubusercontent.com/43472674/70121775-54fc9900-1695-11ea-88d2-4f15209896f9.png)
![device-2019-12-04-125541](https://user-images.githubusercontent.com/43472674

[2019-12-04 07:30] alexakasanjeev commented on #104
Hi sid-metiz, could you share your base url and access token here or privately on sanjeevy133@protonmail.om, don't worry you can always delete the integration token

[2019-12-04 08:47] sid-metiz commented on #104
its .om or .com?

[2019-12-04 09:29] troublediehard commented on #104
@sid-metiz
make sure you have a trailing slash for your 'url' in config like `https://my.magento.site.com/`, also try to add `store: ''` in your config like
[code]

[2019-12-04 09:37] troublediehard opened #105 "Add trailing slash for config url"

[2019-12-04 09:39] sid-metiz commented on #104
what i have to pass in store?? 04.12.2019, 14:59, "Dmytro Portenko" <notifications@github.com>:@sid-metiz
make sure you have a trailing slash for your 'url' in config like https://my.magento.site.com/, also try to add store: '' in your config like
export const magentoOptions = {
  url:"https://my.magento.com/",
  home_cms_block_id:"58",
  store: '',
  authentication:{integration:{access_token:"ztt

[2019-12-04 09:40] troublediehard commented on #104
try empty, as I mentioned above.

[2019-12-04 09:42] sid-metiz commented on #104
ok but in home screen its dosent show any things04.12.2019, 15:10, "Dmytro Portenko" <notifications@github.com>:try empty, as I mentioned above.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-04 09:43] troublediehard commented on #104
any errors?

[2019-12-04 09:45] sid-metiz commented on #104
No just blank Ui04.12.2019, 15:13, "Dmytro Portenko" <notifications@github.com>:any errors?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-04 09:46] troublediehard commented on #104
Try reinstall the app after config updated.

Actually you have to put in `store` store code from magento admin
<img width="357" alt="Screenshot 2019-12-04 at 11 41 24" src="https://user-images.githubusercontent.com/6594232/70131743-82444980-168b-11ea-9677-d801d9db0183.png">
<img width="175" alt="Screenshot 2019-12-04 at 11 43 02" src="https://user-images.githubusercontent.com/6594232/70131753-85d7

[2019-12-04 09:46] sid-metiz commented on #104
Can its show price as per Customer Group?04.12.2019, 15:13, "Dmytro Portenko" <notifications@github.com>:any errors?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-04 09:47] troublediehard commented on #104
It is not implemented in the app to `show price as per Customer Group`

[2019-12-04 09:50] sid-metiz commented on #104
04.12.2019, 15:16, "Dmytro Portenko" <notifications@github.com>:Try reinstall the app after config updated.
Actually you have to put in store store code from magento admin

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-04 09:51] sid-metiz commented on #104
I put english in Store variable but still having issue04.12.2019, 15:17, "Dmytro Portenko" <notifications@github.com>:It is not implemented in the app to show price as per Customer Group

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-04 09:54] troublediehard commented on #104
please join Slack for further discussion https://join.slack.com/t/magento-react-native/shared_invite/enQtNjE3ODY0MDUxOTQyLTgwNDY2YzczNTEyNjQyY2QzMmY5ZDY4MmZlYjMyYmRiYzgzZjBiMDhmOTYxMDZkZjAwODkwZGI2MjAxY2FkNTE

[2019-12-04 11:36] #104 closed

[2019-12-04 11:51] sid-metiz opened #106 "Price not show as per customer group.."
**Are there certain things to report that are not a bug or feature?**
Please tell us as exactly as possible about your request, thanks.
We will reply as soon as possible.
Hii Price not show as there is a multipal group of customer. all have different price

[2019-12-04 11:54] troublediehard commented on #106
@sid-metiz please provide step by step instructions on how to set up and test it on the Magento side.

[2019-12-04 12:00] sid-metiz commented on #106
i have four group in customer and all have different price assign.. So its come from array of tier_price

[2019-12-04 12:03] sid-metiz commented on #106
![Screenshot from 2019-12-04 17-33-14](https://user-images.githubusercontent.com/43472674/70141059-2e9e2400-16bc-11ea-8b3e-d674b2c09d7a.png)

[2019-12-04 12:24] sid-metiz commented on #106
Hello

[2019-12-04 12:39] troublediehard commented on #106
@sid-metiz please provide step by step instructions on how to set up and test it on the Magento side.  Here is the sample of good step by step instruction https://github.com/troublediehard/magento-react-native/wiki/Setup

[2019-12-04 13:03] sid-metiz commented on #106
@troublediehard  I have Customer group in Customer, Where there is a different type of customer as per role. so there is a tier_prices list (array) come in Api. Which give price as per role..
i want a price as per the role..

[2019-12-04 13:53] sid-metiz opened #107 "Razorpay not implement"
**Are there certain things to report that are not a bug or feature?**
Please tell us as exactly as possible about your request, thanks.
We will reply as soon as possible.
Hii where is rozarpay implement?

[2019-12-04 13:59] troublediehard commented on #107
rozarpay is not implemented

[2019-12-04 14:00] sid-metiz commented on #107
ok i know how to implement but where i should put that method?

[2019-12-04 14:01] troublediehard commented on #107
`src/components/checkout/CheckoutPaymentMethod.js` good place to start

[2019-12-04 14:02] sid-metiz commented on #107
Ok thanks04.12.2019, 19:31, "Dmytro Portenko" <notifications@github.com>:src/components/checkout/CheckoutPaymentMethod.js good place to start

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-04 14:07] troublediehard commented on #106
@sid-metiz you marked an issue as a question. So what is your question actually is?

[2019-12-04 14:14] sid-metiz commented on #106
@troublediehard  if i login as a super user so can the price is visible for me that is assign to the super user?

[2019-12-04 14:16] troublediehard commented on #106
@sid-metiz, as I've already told you such functionality isn't implemented in this project.

[2019-12-04 14:18] sid-metiz commented on #106
Ok will you implement or not?04.12.2019, 19:46, "Dmytro Portenko" <notifications@github.com>:@sid-metiz, as I've already told you such functionality isn't implemented in this project.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-04 14:21] troublediehard commented on #106
Probably at some point, but it is surely not in priority for the near future.

[2019-12-04 14:23] sid-metiz commented on #106
Ok thanks.. I want that feature...

[2019-12-04 15:08] #107 closed

[2019-12-05 05:26] sid-metiz opened #108 "Cart Item Price show 0"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Current Behavior**
What is the current behavior?

**Steps to Reproduce**
Please provide detailed steps for reproducing the issue.
1. Navigate to...
2. Press on...
3. Scroll to...
4. See error...

**Screenshots**
If applicable, add screen

[2019-12-05 08:09] alexakasanjeev commented on #108
@sid-metiz could you see issue #77 and if it is same, you can close this one, if your problem is different please provide more information

[2019-12-05 08:13] troublediehard commented on #108
duplicate https://github.com/troublediehard/magento-react-native/issues/77

[2019-12-05 08:13] #108 closed

[2019-12-05 08:39] sid-metiz commented on #108
When Add to cart Product price show 0

[2019-12-05 10:01] troublediehard opened #109 "Merge 3 & 4 checkout steps into one"

[2019-12-05 10:17] alexakasanjeev commented on #108
Add two product to the cart, and see if price is still zero.

[2019-12-05 13:05] sid-metiz commented on #108
if only one item in cart

[2019-12-05 13:33] alexakasanjeev commented on #108
Yes if there is one item in cart, price is zero, we know this problem, and it is mentioned in issue #77

[2019-12-05 13:33] sid-metiz opened #110 "How to Add Simple Product with Color Selection in Cart(Can you give me a Example or A Payload)"
**Are there certain things to report that are not a bug or feature?**
Please tell us as exactly as possible about your request, thanks.
We will reply as soon as possible.
{
  "id": 385,
  "sku": "PS-07",
  "name": "ROUND INSERT CHANGEABLE PEN HOLDER ",
  "attribute_set_id": 4,
  "price": 100,
  "status": 1,
  "visibility": 4,
  "type_id": "simple",
  "created_at": "2019-09-30 07:00:52",
  "updated

[2019-12-05 13:33] sid-metiz commented on #108
Ok thanks..

[2019-12-05 17:41] troublediehard commented on #110
It is implemented in the app. And you can see the request in logs.

[2019-12-05 17:41] #110 closed

[2020-01-10 04:19] Md-Asaduzzaman-Muhid opened #112 "adding 2 or more product is not working"
Hi,

I am seeing you code it is really helpful. But i think there 1 issues when i add one product in cart and try to add another the cart is going empty. can you please look into the matter and suggest how can i solve this.

[2020-01-10 08:46] #112 closed

[2020-01-10 12:27] Md-Asaduzzaman-Muhid opened #113 "What should we access ?"
if we  allow all resources for the access token. may have security risk. so ,
what is necessary and must select to run this app properly.

[2020-01-10 12:57] troublediehard commented on #113
@Md-Asaduzzaman-Muhid I don't have an exact list right now. You can find all rest API endpoints which use access token in `src/magento/lib/admin/index.js`.

Then you can open Magento source and search for webapi.xml file somewhere in vendor/magento directory and find what resource it requires.

For example `GET /V1/store/storeConfigs` is defined in `vendor/magento/module-store/etc/webapi.xml`
[cod

[2020-01-13 06:05] Md-Asaduzzaman-Muhid commented on #113
Thank you so much for your quick response.

[2020-01-14 07:08] Md-Asaduzzaman-Muhid opened #114 "in product details cart reset"
Hi,

When i go into a products detail page it reset the cart value to 0 .

[2020-01-14 09:40] troublediehard commented on #114
@Md-Asaduzzaman-Muhid can you please remove the app, install it again and record video with bug reproduction?

[2020-01-14 10:19] troublediehard commented on #114
@Md-Asaduzzaman-Muhid also, could it be the same issue as described in https://github.com/troublediehard/magento-react-native/issues/77 ?

[2020-01-14 12:35] Md-Asaduzzaman-Muhid commented on #114
@troublediehard no they are not same ... once i got it worked fine but today i found this issue . i am sending a video link please see and if you give suggestion what file should have cart functionality and why in product details page cart rest it would be greatful

Thanks for your quick response.

[2020-01-14 12:44] Md-Asaduzzaman-Muhid commented on #114
https://drive.google.com/file/d/1xXJd21jvKvtidWKy8zEqxXiy8G6sFuRQ/view?usp=drivesdk
here is the video url from my google drive .. please take a look

[2020-01-14 15:12] troublediehard commented on #114
@Md-Asaduzzaman-Muhid
I tried to reproduce it on my end but no luck
1. Have you done any changes to the codebase?
2. It is possible problem relates to your Magento setup, so if you don't mind to share your config file I can try it on my end (you can send it to the email troublesohard@gmail.com or join to Slack workspace https://join.slack.com/t/magento-react-native/shared_invite/enQtNjE3ODY0MDUxOT

[2020-01-15 04:49] Md-Asaduzzaman-Muhid commented on #114
@troublediehard
1. No i don't change any code.
2. I setup magento and never change anything in code just add mmobile home page and your provided schema.
3. "warning viewpagerandroid has been extracted from react-native core " this message shown when i enable yellow box.

I have sent you config file in email please take a look

Thank you

[2020-01-15 07:28] zeeshoe opened #115 "on productlist grid icon on header just work once it do not toggle"
on productlist grid icon on header just work once it  do not toggle

[2020-01-15 12:02] #115 closed

[2020-01-15 12:22] troublediehard commented on #115
@zeeshoe fixed, feel free to take a look.

[2020-01-15 15:06] zeeshoe commented on #115
![Screenshot_1579100622](https://user-images.githubusercontent.com/59910489/72444734-64155180-37d2-11ea-9539-acdd00114dfb.png)
Got this after solution.

[2020-01-15 16:13] troublediehard commented on #115
@zeeshoe It doesn't look like it relates to my changes. Also, works fine on both iOS and Android. Please let me know if you have any specific steps to reproduce.

<img width="589" alt="Screenshot 2020-01-15 at 18 10 26" src="https://user-images.githubusercontent.com/6594232/72450170-91f29a00-37c2-11ea-9a2b-a29008b06e19.png">

[2020-01-15 16:18] troublediehard commented on #115
also, you can have a look if there any other errors in chrome devtools console https://facebook.github.io/react-native/docs/debugging

[2020-01-20 11:52] #113 closed

[2020-01-20 11:56] troublediehard commented on #114
There is no way to investigate the issue without more information or a test environment where the issue can be reproduced.

Please provide chrome console output in with enabled debugger.

[2020-01-27 22:59] #114 closed

[2020-01-29 14:13] troublediehard opened #116 "Move Checkout component to the navigation stack on to of tab bar navigator"

[2020-01-29 17:33] #116 closed

[2020-02-13 04:45] lanvo21 opened #117 "Not Install"
Run: npm install error
![image](https://user-images.githubusercontent.com/60998321/74402225-2f8ac900-4e56-11ea-940e-08f9c2d5e1de.png)

Please check and can guide how to solve it.

Thanks.

[2020-02-17 09:04] troublediehard commented on #117
I don't have this issue on my end. Try following https://stackoverflow.com/questions/60172598/not-able-to-install-npm-install-react-native-gesture-handler

[2020-02-19 11:09] troublediehard commented on #117
@lanvo21 feel free to reopen this issue if you want to continue discussing

[2020-02-19 11:09] #117 closed

[2020-02-19 18:50] tylerssn opened #118 "Hide slider if slider.length < 1"
**Describe the bug**
An error is thrown when an empty array is provided to the slider object.

**Expected behavior**
Slider should be hidden

**Current Behavior**
Error is thrown

**Steps to Reproduce**
Create the homepage block of:

[code]

OR

[code]

[2020-02-19 18:56] troublediehard commented on #118
Can you share the error?

[2020-02-19 19:11] troublediehard commented on #118
I don't see any issues related to the config you provided.

I recommend you to purge store data in case you had the wrong config and it was saved on the device. To do it go to the `src/store/index.js` and uncomment `persistor.purge();` line.

[2020-02-22 08:01] tylerssn commented on #118
I apologise for the lack of detail. I'm going to close this out since I can't provide further information at this time.

[2020-02-22 08:01] #118 closed

[2020-02-22 09:20] troublediehard commented on #118
no problem

[2020-02-27 04:13] 234146326 opened #119 "I run "npm install" get down Notice ."
![image](https://user-images.githubusercontent.com/17285770/75411460-44895100-595a-11ea-84c9-528966916cb4.png)

I'm not sure if I want to use the command(  `npm audit fix` ) and fix it.Have you encountered it?

[2020-02-27 10:16] troublediehard commented on #119
I'm using yarn, and there is no `yarn audit fix`, so I'm not going to do anything with it right now. https://github.com/yarnpkg/yarn/issues/7075
But feel free to do it on your end.

[2020-02-27 15:35] samsonegba opened #120 "Home page sliders image not show and featuredCategories products not showing"
**Describe the bug**
Hello, I am new to Magento and React Native as well, I followed the instructions and compiled the app, installed Magento and everything works fine except for the home page.
The homepage displays the slider's caption but not the image itself, I have tried and restarted the app and local server many times, every other pages works fine, but the homepage doesn't.

**Expected behav

[2020-02-27 16:58] troublediehard commented on #120
@samsonegba can you share your cms block config here?

[2020-02-28 09:40] RonakPatel0 opened #121 "can not read property 'length' of undefined."
**Expected behavior**
on press product it open smoothly.

**Current Behavior**
when render product list I click on product so it's rise this error because. when I am wait 30s more after render product this error not rise

**Steps to Reproduce**

1. open side menu
2. select on category
3. get products
4. press on any one product
5. See error...

**Screenshots**

![Screenshot_1582882082](https://use

[2020-02-28 09:56] troublediehard commented on #121
It is hard to reproduce. It probably relates to your Magento instance configuration. If you can send me your `magento.js` config privately to troublesohard@gmail.com I can try to resolve this issue.

[2020-02-28 10:07] samsonegba commented on #120
Okay its just as the basic structure you provided

{
  "slider": [
    {
      "title": "New Luma Yoga Collection",
      "image": "wysiwyg/home/slide1.jpg"
    },
    {
      "title": "Even more ways to mix and match",
      "image": "wysiwyg/home/slide2.jpg"
    },
    {
      "title": "Find conscientious, comfy clothing in our eco-friendly collection",
      "image": "wysiwyg/home/slide3.jpg"

[2020-02-28 10:11] RonakPatel0 commented on #121
I solve it out I can not get this.props.option undefined. I change some server stuff and it's work fine

[2020-02-28 10:11] #121 closed

[2020-02-28 10:11] troublediehard commented on #120
Try to clear mobile app data. To do this you need to add `persistor.purge();` at the end of `src/store/index.js`

[2020-02-28 10:31] troublediehard commented on #121
@RonakPatel0 thanks for the update, I'll add the fix to prevent a crash for such cases.

[2020-02-28 10:46] #119 closed

[2020-02-28 12:16] samsonegba commented on #120
I uninstalled the app from my physical device
I added persistor.purge(); at the end of `src/store/index.js`
ran `react-native run-android` and it installs but unfortunately its still the same

[2020-02-28 14:27] troublediehard commented on #120
I see your problem
<img width="177" alt="Screenshot 2020-02-28 at 16 25 47" src="https://user-images.githubusercontent.com/6594232/75556504-061d9000-5a47-11ea-8aaf-45ed54e8bfbf.png">
you have to press hide editor. In WYSIWYG editor mode it will wrap content with html tags.

[2020-02-28 15:24] samsonegba commented on #120
Okay so I have mentioned earlier, I am new to react native and Magento. So regarding this issue, I had to figure what knowledge I was missing to be able to debug the issue, turns out I needed to learn react-redux, so I did a quick course on it.
Now I tracked to issue of sliders from the `reducers` to the `HomeSlider` component.
Finally it turns out the images I uploaded in `magento` backend wasn't

[2020-02-28 15:26] samsonegba commented on #120
In your code, you filtered the html tags anyways

[2020-02-28 16:20] samsonegba commented on #120
Okay, so its fixed now, the feature product was my bad.
When I created the categories, I selected some products during creating the category.. but apparently they didn't reflect, so I edited some products and added new categories to the product.
Thanks you @troublediehard for this awesome system.

[2020-02-28 16:32] troublediehard commented on #120
Welcome!
Glad to hear you solved your issues.

[2020-02-28 16:32] #120 closed

[2020-03-03 17:47] tmmo1230 opened #122 "Paypal Invalid Token"
**Describe the bug**
When I checkout, I am getting an error message "Paypal gateway has rejected request. Invalid token (#10410: Invalid Token). May I know if Paypal checkout is supported? Thanks a lot.

**Expected behavior**
Successfully checkout with paypal

**Current Behavior**
Error message appears

![IMG_1565](https://user-images.githubusercontent.com/44220751/75803803-f93bcc00-5db9-11ea-9a96

[2020-03-03 17:51] troublediehard commented on #122
@tmmo1230 nope, PayPal payment method isn't implemented in the app.

[2020-03-04 10:44] #122 closed

[2020-03-13 11:48] lalakiyarahul66 opened #123 "Add to Coupon code"
**Expected behaviour**
When add coupon to change to total

**Current Behaviour**
When add coupon in checkout page then i get error.

**Steps to Reproduce**
Please provide detailed steps for reproducing the issue.
1. add to cart in any product
2. fill user information
3. then add coupon
4. See error...

**Screenshots**
![Screenshot_1584099525](https://user-images.githubusercontent.com/54582370/7661

[2020-03-13 12:36] #123 closed

[2020-03-13 12:44] lalakiyarahul66 commented on #123
@troublediehard  Thank you.

[2020-03-17 06:02] RONAKDHOLARIYA opened #124 "when I click add to cart throw error TypeError: Cannot read property 'id' of null"
**Describe the bug**
when I open app and add product to cart so loader can not stop and throw error Cannot read property 'id' of null. this error rise at **RestAction.js-> addToCart function** in this customer is null because of guest user

**Expected behavior**
in guest user work proper.

**Current Behavior**
when I open app and add product to cart so loader can not stop and throw error Cannot re

[2020-03-17 10:09] troublediehard commented on #124
[code]
In steps to reproduce nothing about user login, but at the same time, you said it works fine for guest user. It is not clear from your description how to reach problem conditions.

I don't have such issues with add to cart on my Magento setup. If it is possible please send me your magento.js config privately so I can debug it on my side.

[2020-03-21 14:43] RONAKDHOLARIYA commented on #124
when I login and after add some item to cart so it show this type of error

[2020-03-21 16:45] troublediehard commented on #124
@RONAKDHOLARIYA can you share your config (magento.js)?

[2020-04-03 11:24] RashVenkat6795 opened #125 "Is there a way to add 2 sliders for home screen ?"
I want to implement 2 sliders in home screen, tried configuring in cms block but its working.
Is there any way i can achieve it ?

[2020-04-03 11:35] troublediehard commented on #125
It is not implemented to have multiple sliders on the home screen. But you can easily add it in the code ```https://github.com/troublediehard/magento-react-native/blob/master/src/components/home/HomeScreen.js```

[2020-04-03 11:55] RashVenkat6795 commented on #125
ok will check it out
thanks for the quick response

[2020-04-04 06:15] #125 closed

[2020-04-22 09:03] Nahyan9798 opened #127 "Clicking on Country at checkout page throws error "Error while updating property 'importantForAccessibility' of a view managed by: RCTView"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Current Behavior**
What is the current behavior?

**Steps to Reproduce**
Please provide detailed steps for reproducing the issue.
1. Navigate to...
2. Press on...
3. Scroll to...
4. See error...

**Screenshots**
If applicable, add screen

[2020-04-22 09:11] Nahyan9798 opened #128 "Clicking on Country at checkout page throws error "Error while updating property 'importantForAccessibility' of a view managed by: RCTView"
Underneath it says "java.lang.boolean cannot be cast to java.lang.String"

It is a local magento 2.2.11 install and latest react native version,
I have seen your fix regarding 2 'ComponentDidMount' functions, it still does not fix this issue,

**Expected behavior**
It should show countries to select

**Current Behavior**
Currently, it gives red screen error as described above.

**Steps to Reproduc

[2020-04-22 09:28] troublediehard commented on #127
duplicates https://github.com/troublediehard/magento-react-native/issues/128

[2020-04-22 09:28] #127 closed

[2020-04-22 09:47] troublediehard commented on #128
@Nahyan9798 can share a stack trace of the error or attach a screenshot of the screen with error?

[2020-04-22 09:58] Nahyan9798 commented on #128
![Screenshot from 2020-04-22 14-57-26](https://user-images.githubusercontent.com/64132029/79968492-9ad1c680-84a9-11ea-8763-010dc0606e68.png)

![Screenshot from 2020-04-22 14-08-59](https://user-images.githubusercontent.com/64132029/79968351-665e0a80-84a9-11ea-9069-8becbbd803df.png)

This is the error when i touch country.

I would love to figure this error out but i am lost as to where i should st

[2020-04-22 10:47] troublediehard commented on #128
@Nahyan9798 fixed. Please take a look.

[2020-04-22 10:50] troublediehard commented on #124
@RONAKDHOLARIYA feel free to reopen it if you have more info to help me find the problem.

[2020-04-22 10:50] #124 closed

[2020-04-22 12:29] Nahyan9798 commented on #128
I made the changes to yarn.lock and packages.json as seen in the pr, but still the issue persists

[2020-04-22 12:34] troublediehard commented on #128
@Nahyan9798 did you install dependencies like `npm install` or `yarn install` ?

[2020-04-22 12:50] Nahyan9798 commented on #128
Yes, Yes I did

[2020-04-22 12:57] troublediehard commented on #128
@Nahyan9798 I've just checked again. I can reproduce issue with old version of `react-native-modal-selector` and can't with new. Probably some cache issue on your end. Try remove the app from emulator and build it again.

[2020-04-22 14:15] Nahyan9798 commented on #128
I tried deleting the app and building again, still the same issue, connected to physical device and installed but still issue persists,
if you could kindly suggest some things  i could try to resolve the issue, i would be very thankful

[2020-04-22 14:18] troublediehard commented on #128
@Nahyan9798 check version in `node_modules/react-native-modal-selector/package.json`

[2020-04-22 14:21] Nahyan9798 commented on #128
shows version 2.0.1

[2020-04-22 14:25] Nahyan9798 commented on #128
![Screenshot from 2020-04-22 19-24-22](https://user-images.githubusercontent.com/64132029/79994038-e480d800-84ce-11ea-98b7-fb5c05943b1a.png)
there seems to be a problem here, bundleDependencies expects an array but is receiving just false, could this be the issue?

[2020-04-22 14:31] Nahyan9798 commented on #128
nevermind this is the same for all dependencies, issue is something else

[2020-04-22 14:37] troublediehard commented on #128
@Nahyan9798 Looks like it is related to the data you pass to the modal selector, you can try to log it
<img width="570" alt="Screenshot 2020-04-22 at 17 35 32" src="https://user-images.githubusercontent.com/6594232/79995340-c95a9c00-84bf-11ea-996f-9bab51e89a07.png">

[2020-04-22 15:29] troublediehard commented on #128
I think also relates https://github.com/peacechen/react-native-modal-selector/issues/143

[2020-04-22 17:18] Nahyan9798 commented on #128
It worked!
Changing these two parameters in node_modules/react-native-modal-selector/index.js from undefined to " " worked.
 scrollViewAccessibilityLabel:   "",
    cancelButtonAccessibilityLabel: "",
Thank you for solving this issue!
On which countries does order button show up? i am selecting US and region as new york yet shipping address  is not found for this selected address

Again Thanks a b

[2020-04-28 04:22] alexakasanjeev commented on #128
Hi @troublediehard I'm too having the same issue on my project, bumped the `react-native-modal-selector` version, and working fine, do I have to do something else too apart from it, I didn't understand what else need to be set?

[2020-04-28 09:16] troublediehard commented on #128
hey @alexakasanjeev, I think after upgrade library it is still possible to reproduce this issue in some cases. But I don't dive into it a lot, so I'm going to keep this issue open for now.

[2020-05-01 08:19] SubhadipDutta93 opened #129 "Please add related products and reviews in the product page."
**Please add related products in the product page.**
Once a customer clicks on the product, on the product page there should be some related product also. when a customer clicks on the related product it will show the product with product details.

**Please add reviews of the product in the product page.**
On the product page, customers should be able to see the product review of that specific pro

[2020-05-01 09:54] troublediehard commented on #129
@alexakasanjeev would you like to migrate this functionality from the Lyon project? I think it is good to have it here, but I'm not sure when I'll have time to work on it.

[2020-05-01 10:07] troublediehard commented on #129
how to fetch related products
https://magento.stackexchange.com/a/165222/28975

[2020-05-01 10:22] alexakasanjeev commented on #129
Sure, I will move the UI logic, but probably need your input, on what are the API need to be hit, because if I remember, for review, you wrote custom plugin, correct?

**TODO**
- [ ] Add Review related component in Product screen
- [ ] Add Horizontal list to show related product in Product Screen

[2020-05-01 10:26] troublediehard commented on #129
@alexakasanjeev sure, feel free to reach me with any questions. Following Magento module is required for reviews https://github.com/troublediehard/mma-customapi.

[2020-05-01 19:54] RashVenkat6795 opened #130 "How to get the product reviews and attributes like size, weight, color ?"
Hi,
I want to get the product attributes like size, weight, color..... and also the reviews posted for the product.
How can i get that ?

[2020-05-01 19:58] RashVenkat6795 commented on #129
@alexakasanjeev You implemented this feature ? If so can you please guide me on how to do it.

[2020-05-01 20:11] troublediehard commented on #130
I believe it's already inside the app in product data. Please clarify your question?

[2020-05-01 20:13] RashVenkat6795 commented on #130
But the product data returns values in numbers and attribute codes

[2020-05-01 20:49] troublediehard commented on #130
You can fetch attribute details by code with https://devdocs.magento.com/swagger/#/catalogProductAttributeRepositoryV1/catalogProductAttributeRepositoryV1GetGet

[2020-05-02 02:17] alexakasanjeev commented on #129
@RashVenkat6795 I will implement in this repo soon, you can simply take a clone and see :)

[2020-05-02 08:15] RashVenkat6795 commented on #130
Thanks will try this!

[2020-05-02 13:50] alexakasanjeev commented on #129
Hi @troublediehard I'm working on related products, but there is a small hurdle. As clicking on related products will again launch `ProductScreen` thus overwriting the `current` variable value in `ProductReducer`, so when we will press back, we won't see the parent product but the same child product which was clicked.

This is because of how the state is setup, you extracted the `current` product

[2020-05-02 13:53] troublediehard commented on #129
@alexakasanjeev yes, please go ahead. Let me know if something not clear in my implementation.

[2020-05-14 04:19] alexakasanjeev commented on #129
@troublediehard I have created a PR with **Related Products** in Product Detail Screen. There is one problem, please read the text in PR body

[2020-05-14 14:06] troublediehard commented on #129
@alexakasanjeev well done! Can you pick the product review as well?

[2020-05-14 14:08] troublediehard commented on #129
@SubhadipDutta93 @RashVenkat6795 related products functionality now in the master branch.

[2020-05-14 16:24] alexakasanjeev commented on #129
@troublediehard I reported one problem, with related product, in PR, did you check?

About `product review` you have written custom plugin for magento `mma/customapi` that lets access to review API, but I don't have much knowledge of magento server side, I don't know how to install,

you have mentioned installation instructions
[code]

do I need to clone the repo, and paste it somewhere before run

[2020-05-14 16:44] troublediehard commented on #129
@alexakasanjeev I've just checked and I need to do one thing before you can use the installation method as you mentioned. I'll back to you when it is done.

[2020-05-14 21:34] #130 closed

[2020-05-14 21:35] troublediehard commented on #129
@alexakasanjeev I've upgraded version to `0.5.9`. Now it should work simply with
[code]

[2020-05-14 21:42] SubhadipDutta93 commented on #129
I've also done the same and working on the review part.

[2020-05-15 09:22] troublediehard commented on #129
@alexakasanjeev yes, I did refactoring off Product screen and change related products logic.

[2020-05-15 09:23] troublediehard commented on #129
@SubhadipDutta93 great! Feel free to make PR if you like to contribute.

[2020-06-11 21:17] peacechen commented on #128
This has been fixed and published in 2.0.2.

[2020-06-11 21:19] troublediehard commented on #128
@peacechen thank you for the update.

[2020-06-13 09:04] RAGHURAMK0542 opened #132 "Buy now option"
@troublediehard
Hi
I am trying to implement buynow option, so in product.js
i've used the same function of yours onPressAddToCart and after which i just added this.props.navigation.push(NAVIGATION_HOME_CART_PATH)

so that it takes me back to the cart where in i can complete the transaction, after transaction completion it takes me back to home screen, i am getting blank cart, how to make it refres

[2020-06-13 15:52] troublediehard commented on #132
hi @RAGHURAMK0542, I don't really understand your question. Do you want to navigate to the home screen after 'place order' ?

[2020-06-14 12:45] RAGHURAMK0542 commented on #132
@troublediehard,  it is navigating to the home screen but instead of home page details its showing empty cart screen

[2020-06-14 16:25] troublediehard commented on #132
Can you share your navigation code? I don't know where NAVIGATION_HOME_CART_PATH route points.

[2020-06-15 08:55] RAGHURAMK0542 commented on #132
import Cart from '../components/cart/Cart';

const HomeStack = createStackNavigator(
  {
    [routes.NAVIGATION_HOME_SCREEN_PATH]: HomeScreen,
    [routes.NAVIGATION_CATEGORY_PATH]: Category,
    // [routes.NAVIGATION_HOME_PRODUCT_PATH]: Product,
    [routes.NAVIGATION_HOME_PRODUCT_PATH]: Product,
    [routes.NAVIGATION_SEARCH_SCREEN_PATH]: SearchScreen,
    [routes.NAVIGATION_SEARCH_PRODUCT_PATH]

[2020-06-15 08:58] troublediehard commented on #132
so by doing `this.props.navigation.push(NAVIGATION_HOME_CART_PATH)` you navigate to `[routes.NAVIGATION_HOME_CART_PATH]: Cart` Cart component. If you want a different screen here, you should use another route.

[2020-06-15 09:03] RAGHURAMK0542 commented on #132
Yes i've used this
`this.props.navigation.push(NAVIGATION_HOME_CART_PATH)` on the **onPressAddToCart**. So if i just press add to cart button, the product will be added to cart and then it will be navigated to cart screen, and i complete the payment purchase, so on successful transaction completion it will be navigated back to home screen, but the details of home screen are not showing instead its

[2020-06-15 09:06] troublediehard commented on #132
Sorry, I still can't understand your issue. Maybe you can record your screen and show me what is happens on your end?

[2020-06-15 09:07] RAGHURAMK0542 commented on #132
ok sure i will do that

[2020-06-15 14:01] RAGHURAMK0542 commented on #132
Please find the video record here
https://drive.google.com/file/d/1vzrbVO6tvr1UeX3AKtx0yWy_aXfOANfN/view?usp=sharing

[2020-06-15 14:32] troublediehard commented on #132
ok, now I got it

Check `goHome` function in `src/components/checkout/CheckoutTotals.js` it points to the `NAVIGATION_HOME_STACK_PATH` after place order. You have cart screen on top of your home stack so it backs to it.

I don't have a solution for you here, but you can try to modify `goHome` function to archive what you want.

[2020-06-18 16:43] troublediehard commented on #132
Please reopen the issue if you have more questions.

[2020-06-18 16:43] #132 closed

[2020-07-04 16:33] RAGHURAMK0542 opened #133 "Applying Coupon Code - throws error"
**Describe the bug**
I am trying to apply coupon code say for instance VIH9D5OWT3V28X - once i apply this code, getting the following error
The "false" value's type is invalid. The 'Int' type was expected. Verify and try again

Then i tried with integer code 1000020. still getting the same error.

**Expected behavior**
Coupon applied with discount

**Current Behavior**
Throwing error

**Steps to R

[2020-07-04 17:58] troublediehard commented on #133
@RAGHURAMK0542 I can't reproduce it on my end.
For `VIH9D5OWT3V28X` coupon code - I'm getting error - no such coupon code.
<img width="368" alt="Screenshot 2020-07-04 at 20 55 23" src="https://user-images.githubusercontent.com/6594232/86518264-fc62c980-be38-11ea-8174-eede95968b71.png">

`1000020` code works fine
<img width="367" alt="Screenshot 2020-07-04 at 20 55 53" src="https://user-images.gith

[2020-07-04 18:14] RAGHURAMK0542 commented on #133
This is the log i receive
<img width="1132" alt="Screenshot 2020-07-04 at 11 43 36 PM" src="https://user-images.githubusercontent.com/64572499/86518605-473c0b80-be50-11ea-8209-5599eab5b885.png">

[2020-07-04 18:22] troublediehard commented on #133
@RAGHURAMK0542 cart ID in your request is `false`, there is should be correct cart Id value instead.

<img width="1132" alt="86518605-473c0b80-be50-11ea-8209-5599eab5b885" src="https://user-images.githubusercontent.com/6594232/86518733-4d27f180-be3c-11ea-9533-a34642d37288.png">

[2020-07-04 18:41] RAGHURAMK0542 commented on #133
Yes, no matter what it's always false

[2020-07-04 18:45] troublediehard commented on #133
This issue isn't related to the coupon code, so I close it.
Please create a new issue and provide steps to reproduce where cart id becomes false.

[2020-07-04 18:45] #133 closed

[2020-07-14 08:47] akhilunitybees opened #134 "Wishlist"
Please add Wish List and user review

[2020-07-14 11:42] #129 closed

[2020-07-14 11:44] #92 closed

[2020-07-14 13:07] troublediehard commented on #134
@akhilunitybees I've just added reviews functionality to the product screen. To use it you have to install https://github.com/troublediehard/mma-customapi on your magento backend and set
[code]
in `src/config/magento.js`

[2020-07-14 13:08] troublediehard commented on #134
Regarding the wishlist, I don't have any plans to add it in near future.

[2020-07-14 13:11] #128 closed

[2020-07-14 13:12] #85 closed

[2020-07-15 09:53] vaisakhmohan opened #135 "Multi-store concept"
is it support the multistore concept? if not could you please add that feature.

[2020-07-15 10:01] troublediehard commented on #135
@vaisakhmohan
1. No, it's not supported.
2. Right now, I don't have plans to add it.

But in general, the app is ready for this feature. You just need set store code for each store in the Magento API.

Contributions always welcome.

[2020-08-27 19:57] Ank1304 opened #141 "Android app - Compilation - Network Request Failed"
**Describe the bug**
The app throws error : "Network request failed" on launch

**Expected behavior**
The app should open the store when launch the android app

**Current Behavior**
The app launches just fine, but on launch - at the home page, it throws error : Network request failed. It is as if the app is not even able to communicate with the internet

**Steps to Reproduce**
Please provide detai

[2020-08-27 20:21] troublediehard commented on #141
@Ank1304 please try https://github.com/facebook/react-native/issues/24627#issuecomment-492159371. Let me know if it helps or not.

[2020-08-27 20:30] troublediehard commented on #141
hey @Ank1304,
do you have trails slash in the end of your website URL like in `magento-sample.js` ?
[code]

[2020-08-28 00:12] Ank1304 commented on #141
hey @troublediehard

I do have a trailing slash at the end. I think this could be because of the fetch library. Do you have any alternative that we can use instead of fetch ?

[2020-08-28 07:08] troublediehard commented on #141
share logs from `Remote JS Debugging` https://reactnative.dev/docs/debugging

[2020-08-29 07:41] troublediehard commented on #141
@Ank1304 did you solve it?

[2020-08-31 06:04] #141 closed

[2020-09-04 22:36] iMohamedSamir opened #142 "unable to retrieve current customer Error: The consumer isn't authorized to access self"
**Describe the bug**
The app failed to load categories in the homepage.

**Expected behavior**
load categories in the homepage.

**Current Behavior**
The app failed to load categories in the homepage.

**Steps to Reproduce**
Please provide detailed steps for reproducing the issue.
1. open app
2. login
3. press r to open debugger
3. open inspector console
3. reload the app
4. See error

**Screensho

[2020-09-05 09:09] troublediehard commented on #142
Hi @iMohamedSamir,

The error on your screenshot isn't related to the admin token in your config file. It's related to the customer token you get after login. But I don't think it somehow breaks your home screen.

1. Did your categories load fine before you did login?
2. Share your home screen cms config.

[2020-09-06 10:30] alexakasanjeev commented on #142
Hi @iMohamedSamir

By default, customer token generated when user login is valid for 1 hour. You can change these values from Admin by selecting **Stores > Settings > Configuration > Services > OAuth > Access Token Expiration.**

There, increase the customer token expiry time to 168hours(7 days) or according to your need

@troublediehard  I would suggest you to add this steps in setup guide.

[2020-09-06 10:34] troublediehard commented on #142
Thanks, @alexakasanjeev, good point. But I want to note it doesn't relate to the reported issue
[code]

[2020-09-06 20:51] iMohamedSamir commented on #142
Yeah, my bad, I had completely two separate issues and I thought they were related
And thanks @troublediehard

[2020-09-06 20:52] #142 closed

[2020-09-11 20:42] Mivanov9 opened #143 "Android Navigation Icons missing"
**Describe the bug**
When loading into the app on an Android emulator causes warnings and the navigation buttons to have either missing or wrong icons.

**Expected behavior**
Proper icons to appear, as seen in the demo video.

**Current Behavior**
Incorrect icons loading and warnings

**Steps to Reproduce**
Please provide detailed steps for reproducing the issue.
1. Load app
2. Warnings appear at

[2020-09-11 22:13] troublediehard commented on #143
I've just tested it with android emulator Pixel 3 Android 10 Q. And I can't reproduce it on my end. Looks like something wrong on your end during build process. Fonts from `react-native-vector-icons` isn't attached correctly. Try to clean project and build it again. Also, you can try to find a similar issues in https://github.com/oblador/react-native-vector-icons/issues.

![Screenshot_1599861652](

[2020-09-11 22:17] troublediehard commented on #143
For example, try this https://github.com/oblador/react-native-vector-icons/issues/1228#issuecomment-686772521

[2020-09-11 23:17] Mivanov9 commented on #143
I was able to fix the issue I was having it works perfectly fine now, but I did it by
removing the '^' from the package.json :
-"react-native-vector-icons": "^6.6.0" -> "react-native-vector-icons": "6.6.0"
then removing and reinstalling the node_modules

Here is the link I found the solution from, it was describing an issue I had before where the app would not launch at all but previously I just i

[2020-09-11 23:17] #143 closed

[2020-09-12 08:47] troublediehard commented on #143
@Mivanov9 thanks for sharing.

[2020-10-01 18:45] sid3291 opened #144 "Checkout button in the ProductScreen.js file"
I would like to add a checkout button under the cart button in the ProductScreen.js file. That way, the user would be able to buy the product directly from its screen, without passing through the cart. How would I be able to do so?

[2020-10-01 18:52] troublediehard commented on #144
hi @sid3291,
I think steps should be like
1. Wait response for add to cart request.
2. Update cart.
3. Navigate to the checkout screen.

[2020-10-02 06:23] alexakasanjeev opened #145 "Use react-native-render-html library to render product description"
**Is your feature request related to a problem? Please describe.**
Currently, if product description comes as `HTML` content, you strip out html tags, and render product description into simple `Text` component.

**Describe the solution you'd like**
[react-native-render-html](https://github.com/archriss/react-native-render-html) library helps to render HTML content easily, hence product descriptio

[2020-10-02 09:09] troublediehard commented on #145
@alexakasanjeev yes, good point. I've already tested it in https://github.com/troublediehard/magento-react-native-2. So if you have time please go ahead.

[2020-10-02 14:44] alexakasanjeev commented on #145
Are you using `Product.js` because I can still see this file, and I think you are using `ProductScreen.js` to render product details.

shall I delete it?

[2020-10-02 15:28] troublediehard commented on #145
1. yes, remove it
2. remove it as well

[2020-10-03 10:41] #145 closed

[2020-10-06 13:02] sid3291 opened #147 "Checkout Payment Gateway"
Fake payment is working.

I am implemented my own payment gateway. But I am having problems leaving JSON on mobile for magento2. I send the field and the information but return the error as if I didn't have the information in JSON.

The info marks I need to send are VAT, card number, validity ...  I send it in Checkou's JSON, but it doesn't work.

My gateway does not need to redirect the page, but

[2020-10-06 13:03] sid3291 opened #148 "Checkout Payment Gateway"
Fake payment is working.

I am implemented my own payment gateway. But I am having problems leaving JSON on mobile for magento2. I send the field and the information but return the error as if I didn't have the information in JSON.

The info marks I need to send are VAT, card number, validity ...  I send it in Checkou's JSON, but it doesn't work.

My gateway does not need to redirect the page, but

[2020-10-06 13:03] #148 closed

[2020-10-06 15:16] kanhucd opened #149 ""Network Request Failed" Error in the Signup"
**Describe the bug**
"Network Request Failed" Error in the Signup After I fill the form and submit.

**Expected behavior**
Signup should return successful message and allow login with that user.

**Current Behavior**
"Network Request Failed" Error on clicking submit.

**Screenshots**
![Screenshot_20201006-204407_magento_mobile_app](https://user-images.githubusercontent.com/43762141/95221309-f0f6b4

[2020-10-07 07:35] troublediehard commented on #149
@kanhucd Can you share logs from remote debugger?

[2020-10-07 07:42] troublediehard commented on #147
Hey @sid3291, can you provide more details it's not clear what is going on your end?

`Fake payment is working.`
What do you mean?

`But I am having problems leaving JSON on mobile for magento2. I send the field and the information but return the error as if I didn't have the information in JSON.`
What are you sending? What endpoint? What is the error?

[2020-10-07 19:32] alamengo09 opened #150 "Description"
I am having problems with my product`s description. how can I format this variable so my description can look nicer?

[2020-10-07 19:58] troublediehard commented on #150
@alamengo09 what problem do you have?

[2020-10-07 20:00] troublediehard commented on #150
@alexakasanjeev can you suggest anything on description formatting?

[2020-10-08 06:06] alexakasanjeev commented on #150
[react-native-render-html](https://github.com/archriss/react-native-render-html) library provides props to customize text

props like `baseFontStyle`, `containerStyle` etc

@alamengo09 check [docs](https://github.com/archriss/react-native-render-html)

[2020-10-08 17:12] sid3291 commented on #147
We are trying to send a json to the bank's module, but it returns error 104, as if we weren't sending all the needed information.

[2020-10-08 17:19] sid3291 commented on #150
![image](https://user-images.githubusercontent.com/66479859/95492006-d5a0bb80-0970-11eb-87f3-277477c116d2.png)
![Screenshot_1602177447](https://user-images.githubusercontent.com/66479859/95492136-05e85a00-0971-11eb-9c90-c56f3f0cabe3.png)

The first picture is how it is on my store's web page, the second one is how it is on the app

[2020-10-08 18:56] troublediehard commented on #150
@sid3291
Looks like you have some CSS styles in the web version. The latest version of the app uses `react-native-render-html` lib to render description.  Try to apply styles with `tagsStyles`, `classesStyles`. For more information check library [docs](https://github.com/archriss/react-native-render-html#props).

[2020-10-08 19:00] troublediehard commented on #147
I don't think I can understand what is going on without code.

[2020-10-13 18:12] troublediehard commented on #149
@kanhucd I can't reproduce this issue on my end. Feel free to reopen this issue if you ready to elaborate and provide more details.

[2020-10-13 18:13] #144 closed

[2020-10-13 18:14] #150 closed

[2020-10-13 18:14] #147 closed

[2020-10-13 18:14] #109 closed

[2020-10-13 18:15] #105 closed

[2020-10-13 19:23] sid3291 opened #151 "Payment"
In which file does the front-end send the payment json to magento? I would like to edit it to suit my system better.

[2020-10-13 19:38] troublediehard commented on #151
check
[code]

[2020-10-15 16:45] kanhucd commented on #149
Hii @troublediehard, Sorry for the delay.

Below is the Error I am getting with Php 7.3 for Magento 2.3.5.
**[2020-10-15 16:36:44] main.CRITICAL: Report ID: webapi-5f887a9c712d8; Message: Deprecated Functionality: idn_to_ascii(): INTL_IDNA_VARIANT_2003 is deprecated in /home3/craftoindia/public_html/vendor/laminas/laminas-validator/src/EmailAddress.php on line 560 {"exception":"[object] (Exception

[2020-10-15 17:08] sid3291 commented on #151
I need to send a field called identity to Magento. Where and how can I add it?

[2020-10-15 19:26] troublediehard commented on #149
@kanhucd looks like an error on the Magento 2 side, you should investigate it there.

[2020-10-15 19:29] troublediehard commented on #151
Is `identity` field of what? I don't have it in my implementation. Can you explain what is it?

[2020-10-15 19:35] troublediehard commented on #149
@kanhucd also, if share your config `src/config/magento.js` I can take a look on my end.

[2020-10-16 03:40] kanhucd commented on #149
@troublediehard  Have uploaded the js file..
[magento.zip](https://github.com/troublediehard/magento-react-native/files/5389055/magento.zip)

[2020-10-16 08:46] troublediehard commented on #149
I've tested on my end and I can confirm there is nothing wrong on the mobile app side. You should fix it on the Magento backend.

<img width="443" alt="Screenshot 2020-10-16 at 11 44 09" src="https://user-images.githubusercontent.com/6594232/96236668-00a89200-0fa5-11eb-90fc-beadf292215f.png">
<img width="690" alt="Screenshot 2020-10-16 at 11 44 06" src="https://user-images.githubusercontent.com/65

[2020-10-16 17:14] sid3291 commented on #151
I already fixed mine. I passed the field Identity through "additional data" and it worked. Thanks

[2020-10-17 09:49] troublediehard commented on #151
Great! Glad to hear.

[2020-10-17 09:49] #151 closed

[2020-10-19 17:52] sidneylopes opened #152 "updateUI"
I added an input to my CheckoutPaymentMethod so the person can enter their taxvat code, but the updateUI does not work. It deletes everything that I type in. Here is the input's code:

<Input
autoCapitalize="none"
label={translate('common.taxvat')}
value={this.props.taxvat}
placeholder={translate('common.taxvat')}
onChangeText={value => this.updateUI('taxvat', value)}
/>

[2020-10-19 17:57] troublediehard commented on #152
there is no `updateUI` function

[2020-10-19 17:59] sid3291 commented on #152
Yes, there is. Look:

updateUI = (key, value) => {
  this.props.updateCheckoutUI(key, value);
};

[2020-10-19 18:01] troublediehard commented on #152
really?
https://github.com/troublediehard/magento-react-native/blob/master/src/components/checkout/CheckoutPaymentMethod.js

[2020-10-19 18:23] sid3291 commented on #152
I added the function

[2020-10-19 18:29] troublediehard commented on #152
How do you path `updateCheckoutUI` to props?
[code]

[2020-10-19 18:31] sid3291 commented on #152
export default connect(mapStateToProps, {
  checkoutSelectedPaymentChanged,
  updateCheckoutUI,
  checkoutSetActiveSection,
  getGuestCartPaymentMethods,
  checkoutCustomerNextLoading,
})(CheckoutPaymentMethod);

[2020-10-19 18:33] troublediehard commented on #152
and `taxvat` value?

[2020-10-19 18:35] sid3291 commented on #152
it comes from customer. I call it as customer.taxtvat.

[2020-10-19 18:39] troublediehard commented on #152
I don't understand.

You pass value from input to the `this.updateUI('taxvat', value)` and set `value={this.props.taxvat}` somewhere from `customer.taxtvat`, right?

[code]

[2020-10-19 18:41] sid3291 commented on #152
I think so

[2020-10-19 18:50] troublediehard commented on #152
ok, I don't understand what you are doing and how it should work.

basically logic of Input should look like this
[code]
so you get value `onChangeText` do whatever you need to do with it and then pass the result to `value` prop.

[2020-10-20 18:27] sidneylopes commented on #152
Thanks. problem solved hahaha

[2020-10-21 08:13] #152 closed

[2020-10-21 09:54] #149 closed

[2020-10-28 17:33] sidneylopes opened #153 "Error messages"
Every time that my code tries to print an error message, I get an error, and the message is shown in the console instead. How can a print it so the user can see it?

![Screenshot from 2020-10-28 14-32-53](https://user-images.githubusercontent.com/66479859/97474185-98559b00-192a-11eb-9b17-61085b12442c.png)

[2020-10-28 17:51] troublediehard commented on #153
hey @sidneylopes. Each time you ask a question like `My code doesn't work` and you don't share your code I can't really help you because I've never seen your code. Can you please be more respectful of my time and provide your code first.

[2020-10-28 19:04] sidneylopes commented on #153
![image](https://user-images.githubusercontent.com/66479859/97484166-2d5e9100-1937-11eb-9fdd-86ef7b959a97.png)

[2020-10-28 20:14] #153 closed

[2020-10-28 20:15] troublediehard commented on #153
@sidneylopes I was able to replicate and fix the issue, please check https://github.com/troublediehard/magento-react-native/commit/cac6929cca36ae2c097ca86a206153e9d09dc7cb

[2020-10-28 20:30] sidneylopes commented on #153
I tried, but no different results

[2020-10-28 20:33] troublediehard commented on #153
@sidneylopes what exactly did you tried?
I was able to reproduce the issue and the fix is working for me.

[2020-10-28 20:35] sidneylopes commented on #153
in the index, I changed "Promise.reject(errorResponse);" to "reject(errorResponse);", but nothing happened. Should I try printing something else?

[2020-10-28 20:39] troublediehard commented on #153
Probably js bundler cache, try to restart it and remove the app from the simulator.

[2020-10-29 16:48] sidneylopes commented on #153
It worked, thanks. Sorry about yesterday!

[2020-10-29 20:35] troublediehard commented on #153
no problem, glad you solved it.

[2020-10-30 18:14] sidneylopes opened #154 "Products"
Is there any way for me to not show unavailable products?

[2020-10-30 18:25] troublediehard commented on #154
@sidneylopes yes, you can.
if you take a look function `getSearchCreteriaForCategoryAndChild` in `src/magento/lib/admin/index.js` file, there is
[code]
which is filtering products by `visibility` and `status` so you can modify filters whatever you need.

here are the docs on how to use Magento search criteria https://devdocs.magento.com/guides/v2.4/rest/performing-searches.html

[2020-10-30 20:21] sidneylopes commented on #154
thanks, problem solved

[2020-11-03 19:12] sidneylopes opened #155 "Cupon problem"
When I try to submit valid cupon codes, I get this error, which I have no idea on how to solve it.
![Screenshot_1604430630](https://user-images.githubusercontent.com/66479859/98030187-6db68700-1def-11eb-8a79-1c9325920f2a.png)

[2020-11-03 21:36] troublediehard commented on #155
I've tried on my end and it's working as expected.
Probably you did some additional steps to reproduce this issue. Or you did some changes in code which cause this error.

![simulator_screenshot_5D18D8D3-644D-4E75-8FD0-9E0D4EED7F67](https://user-images.githubusercontent.com/6594232/98042827-e4be4080-1e2c-11eb-9f0a-5e85451eddfd.png)

[2020-11-04 09:49] troublediehard commented on #155
@sidneylopes can you reproduce this issue on a clean copy of this repository? I mean if you check out this project from github without your modifications and try to reproduce.

[2020-11-05 18:45] sidneylopes opened #156 "Product filter"
I managed to filter the products, and to show only the ones from the right store. How would I show only the right categories?

[2020-11-05 19:39] troublediehard commented on #156
Add categories you want to the search criteria of request.

[2020-11-05 19:43] sidneylopes commented on #156
where is that?

[2020-11-05 19:57] troublediehard commented on #156
`I managed to filter the products, `
where did you filter products?

[2020-11-05 19:59] sidneylopes commented on #156
in the getSearchCreteriaForCategoryAndChild function

[2020-11-05 20:51] troublediehard commented on #156
[code]

it takes `category` as a parameter

[2020-11-06 16:45] sidneylopes commented on #155
same problem

![WhatsApp Image 2020-11-06 at 1 44 49 PM](https://user-images.githubusercontent.com/66479859/98392087-49002080-2036-11eb-96bc-10dc6fdce676.jpeg)

[2020-11-06 17:05] troublediehard commented on #155
@sidneylopes can you remove the app and after fresh install record the video with all actions from the app start to coupon error? In this case, I can see all steps and probably can reproduce the issue on my end.

[2020-11-06 17:55] sidneylopes commented on #155
The link to the video on google drive:

https://drive.google.com/file/d/13qXG3cp4znssnwINeTHqLfTcsfNAhAP9/view?usp=sharing

[2020-11-06 19:13] troublediehard commented on #155
Sorry, but it's not what I asked
1. Quality is bad, I can't see text on screen.
2. You didn't record reproduces on a fresh install, you did some actions like login, add the product to cart, and probably something else, which is important steps they could lead to the issue.

[2020-11-06 19:25] sidneylopes commented on #155
The red sentence that appears is the error that I sent earlier. I also used a fresh install. I added the product to the cart because it is the only way to go to the checkout page. The error also only happens when somebody is logged in.

[2020-11-06 19:28] sidneylopes commented on #155
Try reproducing the error by logging in with an account

[2020-11-07 09:45] arecastudio opened #157 "Signup Loading Forever"
**Are there certain things to report that are not a bug or feature?**
Please tell us as exactly as possible about your request, thanks.
We will reply as soon as possible.

Hi, I can install the app for testing, but when first running I tried to register new user, its takes forever loading on screen without showing user information. It can only success if I logging out first then logging in,

[2020-11-07 10:56] troublediehard commented on #157
Hi Israil,
1. can you check if there any error in the remote debugger logs? https://reactnative.dev/docs/debugging#chrome-developer-tools
2. Can you record screen with bug reproducing?

[2020-11-07 12:38] #155 closed

[2020-11-09 20:12] sidneylopes commented on #154
hey, I still have a problem. I need to hide the products that aren't in stock, but I am having trouble. Here is a part of the JSON of a product, the parameter that I need is "is in stock":

"items": [
        {
            "id": 5,
            "sku": "22-0001",
            "name": "Antena Chapa Ku Mini Parabólica 60cm - Bedin Sat",
            "attribute_set_id": 4,
            "price": 85.32,

[2020-11-09 21:57] troublediehard commented on #154
Did you read the docs?
`here are the docs on how to use Magento search criteria https://devdocs.magento.com/guides/v2.4/rest/performing-searches.html`

[2020-11-10 16:08] sidneylopes commented on #154
yup, but still couldn't solve my problem

[2020-11-10 16:14] troublediehard commented on #154
why?

[2020-11-10 16:18] sidneylopes commented on #154
I'm trying to use "is_in_stock" as a filter, but all the products disappear.

[2020-11-10 16:20] troublediehard commented on #154
Can share what exactly you are trying to do?

[2020-11-10 16:22] sidneylopes commented on #154
const searchCriteria = {
      groups: [
        [{
          field: 'visibility',
          value: '4',
          conditionType: 'eq',
        }],
        [{
          field: 'status',
          value: '1',
          conditionType: 'eq',
        }],
        [{
          field: 'website_id',
          value: '1',
          conditionType: 'eq',
        }],
        [{
          field: 'is_in_stock',

[2020-11-10 16:23] sidneylopes commented on #154
the "website_id" works, but the "is_in_stock" doesn't

[2020-11-10 17:55] troublediehard commented on #154
@sidneylopes try to google about this issue. From what I can read field you trying to filter should be presented in Magento database https://magento.stackexchange.com/questions/158062/magento-2-api-filter-orders-by-extension-attribute

[2020-11-13 10:00] troublediehard commented on #157
@arecastudio did you solve the issue?

[2020-11-13 16:45] sidneylopes opened #158 "Problems when adding an address"
When I press the Add Address button, I have the following error:

![Screenshot_1605285693](https://user-images.githubusercontent.com/66479859/99097363-495c6680-25b6-11eb-9d5a-a32b02368ec5.png)

Here is the part of the code that has "countries.find":

const country = countries.find(item => item.id === countryId);

How can I fix it (my app is only for Brazil)?

[2020-11-13 16:50] sidneylopes commented on #158
I also just noticed that the error doesn't happen every time

[2020-11-14 12:37] troublediehard commented on #158
1. Can you share reproduce steps?
2. Are you using persist state?
3. If you don't a universal solution for any country configured from the Magento side, you can hardcode Brazil value.

[2020-11-14 12:37] #156 closed

[2020-11-16 22:41] #157 closed

[2020-11-16 22:42] #106 closed

[2020-11-18 19:34] sidneylopes opened #159 "AppRegistry"
I need to change the app registry, but when I do so, I get an error. Where else do I have to change it?

![Screenshot_1605728005](https://user-images.githubusercontent.com/66479859/99578628-db4fdf00-29bb-11eb-8e57-ddae3078eefd.png)

[2020-11-18 19:36] troublediehard commented on #159
@sidneylopes have you tried the solution from the docs https://github.com/troublediehard/magento-react-native/wiki/Rename-Project ?

[2020-11-18 19:43] sidneylopes commented on #159
sorry, I didn't see it. It worked, thanks

[2020-11-18 19:55] #159 closed

[2020-11-19 13:14] kanhucd opened #160 "Getting issue after the app has started"
Getting the below errors after the app has stared. Not sure if its because of Magento. If you could help. The content I have put in the MobileHomePage is only "HomePage". Still getting a JSON parse error. And the content of Block "19" doesnot get displayed on the App may be because of the JSON parse Error may be.

[Thu Nov 19 2020 18:11:37.112]  LOG      {"active": true, "content": "Homepage", "cr

[2020-11-19 14:21] troublediehard commented on #160
@kanhucd your cms block content should be valid JSON data, check more in the setup instructions https://github.com/troublediehard/magento-react-native#-setup

[2020-11-19 19:16] sidneylopes commented on #156
could you give me an example of how you would filter categories?

[2020-11-19 21:30] troublediehard commented on #156
@sidneylopes
check `src/actions/RestActions.js`

[code]

[2020-11-20 15:35] kanhucd commented on #160
@troublediehard Have updated the JSON as suggested by you and getting few other errors now. The banner page is visible now but the other Errors are still appearing.
Have followed the steps and have given the access to ALL for the INtegration user as given in the documentation.
![image](https://user-images.githubusercontent.com/43762141/99818126-d6ce2680-2b73-11eb-86ac-b5715dd74768.png)
![image](ht

[2020-11-20 16:28] sidneylopes commented on #156
but isn't that function for filtering products? I need to filter categories.
let's suppose that I only want a category that has an Id of 20. How would I filter that?

[2020-11-20 22:24] troublediehard commented on #156
Ok, this issue about product filter, isn't it? so I supposed you are asking about filter products by categories.

Also, you are asking a lot of questions I don't have in my mind I need to find an answer for you. So probably you can do it yourself. What did you try and where you stuck with it?

[2020-11-20 22:33] troublediehard commented on #160
1. Here is wrong value for icon name `ios-arrow-dropright`.
<img width="299" alt="CleanShot 2020-11-21 at 00 29 55@2x" src="https://user-images.githubusercontent.com/6594232/99856056-d5f7bd80-2b90-11eb-8ece-b644bdfc8ca4.png">

2. You are trying access API endpoint which you don't have access to.
<img width="301" alt="CleanShot 2020-11-21 at 00 30 24@2x" src="https://user-images.githubusercontent.c

[2020-11-20 22:35] troublediehard commented on #160
3. `The banner page is visible now but the other Errors are still appearing.` I don't see a banner on your screenshots.

[2020-11-21 11:56] sidneylopes commented on #156
I already managed to filter the products, and the categories work, but I have 2 sites and in one of them, some categories aren't supposed to show up. I tried to filter them using a searchCriteria for their Ids, but it didn't work. I have no idea on how to do this.

[2020-11-21 15:17] troublediehard commented on #156
Please share what you tried.

[2020-11-21 16:03] kanhucd commented on #160
Hi,

The categories are not showing up though may be because the category Ids filter doesnot work for me some how. Have marked them in yellow in the below screenshot.
And I have access to ALL in the Integration settings.

![image](https://user-images.githubusercontent.com/43762141/99881647-f7b07d80-2c40-11eb-91b1-b9d4c4f93c92.png)
![image](https://user-images.githubusercontent.com/43762141/9988153

[2020-11-21 18:27] troublediehard commented on #160
and what is the response to the following requests?

<img width="630" alt="CleanShot 2020-11-21 at 20 25 30@2x" src="https://user-images.githubusercontent.com/6594232/99884558-d13a1480-2c37-11eb-97bd-c5d087fb93c8.png">

[2020-11-23 20:34] #154 closed

[2020-11-25 06:32] saif482 opened #161 "i cant see description of product , but only name and price"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Current Behavior**
What is the current behavior?

**Steps to Reproduce**
Please provide detailed steps for reproducing the issue.
1. Navigate to...
2. Press on...
3. Scroll to...
4. See error...

**Screenshots**
If applicable, add screen

[2020-11-25 08:44] troublediehard commented on #161
@saif482 you forgot to fill the bug report

[2020-11-25 16:17] #158 closed

[2020-11-27 11:35] kanhucd commented on #160
Thanks for the insight, I was giving the root category ids. Its loading all the images for me now.

However, the icons donot load for my properly. the arrows on the navigation and the icon at the bottom. Could you please guide me on this.

![image](https://user-images.githubusercontent.com/43762141/100445105-8ce4c380-30d2-11eb-8cbd-7bf6e4b8f26b.png)
![image](https://user-images.githubusercontent.c

[2020-11-28 14:21] troublediehard commented on #161
I'm closing this issue since you switch to the conversation on Slack

[2020-11-28 14:21] #161 closed

[2020-11-28 14:37] troublediehard commented on #160
I've cloned the project from Github and try to build on the android. I don't see this issue on my end.

The error you see on the screenshot points you that something wrong with `react-native-vector-icons` library. Check if you have the same version as in the git repository `"react-native-vector-icons": "6.6.0",`

![Screenshot_2020-11-28-16-33-09-029_com magento_mobile_app](https://user-images.gith

[2020-11-28 14:38] #135 closed

[2020-11-28 14:38] #134 closed

[2020-12-01 15:25] kanhucd commented on #160
@troublediehard  Thanks for the icons version. It worked.

I am getting Authorization error while signup mostly for the "/rest/default/V1/customers/me" it seems. Could you please help me on this. But the Integration API created has got access to **ALL**.
![image](https://user-images.githubusercontent.com/43762141/100758629-b9bc1200-3415-11eb-95b3-1120f9f872c6.png)
![image](https://user-images.gith

[2020-12-01 21:23] troublediehard commented on #160
hi @kanhucd
this is API endpoint used customer token, not the admin token that you created for integration. Check it's lifetime settings https://docs.magento.com/user-guide/configuration/services/oauth.html. You have to increase lifetime settings or create reuath logic for the logged customers.

[2020-12-04 11:59] kanhucd commented on #160
Hi @troublediehard ,

I tried to increase the lifetime settings but no luck.  Hope I am not missing anything.

![image](https://user-images.githubusercontent.com/43762141/101151735-1a329580-3648-11eb-904c-5ff68dfaec54.png)

[2020-12-04 18:31] troublediehard commented on #160
@kanhucd it's hard to say without actual debugging code, but just in case
1. Did you clear the Magento cache?
2. Did you relogin customer after?

[2020-12-05 01:46] kanhucd commented on #160
@troublediehard I am getting this issue while I signup as a new customer.

[2020-12-05 14:09] troublediehard commented on #160
@kanhucd also issue can be on the Magento side. And the most straightforward way to find out why the issue happened to debug the backend and see why customer token isn't authorized.

[2021-01-30 14:32] sidneylopes opened #167 "Cart ID"
When a customer buys something, the old cart still appears, and I have to refresh the app. Is there a way for me to delete the cart id so I can continue buying without the need to refresh the app?

[2021-01-30 18:28] troublediehard commented on #167
hi @sidneylopes,

I don't really understand what do you mean by `old cart still appears`. Why do you need a new cart after buy?

1. Can you share a video with the issue?
2. Did you reproduce this issue with a clean copy of the current `master` branch of this repository?

[2021-02-01 16:49] sidneylopes commented on #167
I won't be able to reproduce it on a fresh copy because, in my version of the app, I need extra payment info to go through with the purchase. Can I record it on my copy?

[2021-02-01 16:53] troublediehard commented on #167
@sidneylopes ok, show what you have.

[2021-02-01 17:12] sidneylopes commented on #167
Here it is:

https://drive.google.com/file/d/1iQ6PgBXEbZ7S0dab82ot3XKJ-Wc6duli/view?usp=sharing

[2021-02-01 17:14] sidneylopes commented on #167
PS: If I restart the app, the cart goes back to empty

[2021-02-01 17:58] troublediehard commented on #167
@sidneylopes
There is `this.props.getCart();` in the `CheckoutTotals.js`. It's supposed to refresh cart data. Try to take look there and check why it's not happening.

[code]

[2021-02-01 19:52] sidneylopes commented on #167
I have the function, but I don't know why the cart doesn't reset

[2021-02-01 20:18] troublediehard commented on #167
@sidneylopes sure. It's where developer daily life starts. You should start to debug this functionality. Go to the `getCart` and check each line and variable and try to understand if it's working as expected.

[2021-02-01 20:41] sidneylopes commented on #167
okay, I'm gonna try to figure it out. I'll give you feedback on the results.

[2021-03-16 10:55] dimaportenko commented on #71
also, here is RN docs recommendations on how to store your API keys, https://reactnative.dev/docs/security#storing-sensitive-info

[2021-05-30 07:13] sanjay-baboo299 opened #176 "issue faced"
C:\test\magento-react-native>react-native run-android
info Running jetifier to migrate libraries to AndroidX. You can disable it using "--no-jetifier" flag.
(node:8044) Warning: Accessing non-existent property 'padLevels' of module exports inside circular dependency
(Use `node --trace-warnings ...` to show where the warning was created)
Jetifier found 1118 file(s) to forward-jetify. Using 2 worker

[2021-05-30 09:03] dimaportenko commented on #176
[code]

It's not an issue of the project, you should find out first how to run any React Native project on your environment.
https://www.google.com/search?q=No+online+devices+found&rlz=1C5CHFA_enUA863UA863&oq=No+online+devices+found&aqs=chrome.0.69i59j0.1095j0j7&sourceid=chrome&ie=UTF-8

[2021-05-30 09:03] #176 closed

[2021-05-30 09:04] #167 closed

[2021-05-30 09:04] #160 closed

[2021-05-31 15:16] sanjay-baboo299 opened #177 "BUILD FAILED in 30s"
info Running jetifier to migrate libraries to AndroidX. You can disable it using "--no-jetifier" flag.
(node:8452) Warning: Accessing non-existent property 'padLevels' of module exports inside circular dependency
(Use `node --trace-warnings ...` to show where the warning was created)
Jetifier found 1162 file(s) to forward-jetify. Using 2 workers...
info Starting JS server...
* daemon not running;

[2021-05-31 15:57] #177 closed

[2021-06-13 13:23] dimaportenko commented on #167
probably solve the issue https://github.com/dimaportenko/magento-react-native/commit/f91d3afa72206ecfaf7f481f5ffd554ed0590fc6

[2021-06-23 12:38] metizror opened #184 "#<WeakSet> could not be cloned."
Using React Native Version 0.64.2 and Having this Error while Running App on the Android.

[2021-06-23 12:43] dimaportenko commented on #184
@metizror what error?

[2021-06-24 09:19] metizror commented on #184
src/actions/RestActions.js: Program(path) {
      importAll = path.scope.generateUid("$$_IMPORT_ALL");
      importDefault = path.scope.gen...<omitted>... } could not be cloned.

[2021-06-24 09:31] dimaportenko commented on #184
Obviously not enough information to investigate what is the issue. But I can guess you haven't followed [setup instructions](https://github.com/dimaportenko/magento-react-native/wiki/Setup#3-installing) and didn't create `src/config/magento.js` correctly.

[2021-06-24 09:54] metizror commented on #184
i follow the setup and change the name of the file also,  I got that error while run the app android

[2021-06-24 09:56] metizror commented on #184
![Screenshot 2021-06-24 at 3 26 28 PM](https://user-images.githubusercontent.com/8925045/123243345-8ef3f100-d500-11eb-8f9d-0097ac537cd5.png)

[2021-06-24 12:01] dimaportenko commented on #184
@metizror looks similar to your issue https://stackoverflow.com/questions/67168197/react-native-run-error-xxx-could-not-be-cloned

[2021-06-24 12:07] dimaportenko commented on #184
I've also tested the android debug build on my end and it's working just fine.

[2021-06-24 12:08] dimaportenko commented on #184
On your screenshot, I see `package.json` was modified. What did you change?

[2021-06-28 05:58] #184 closed

[2021-07-02 08:58] huya03487 opened #187 "I found new issue on react native 17.0.1"
src/actions/RestActions.js: #<WeakSet> could not be cloned.

RCTFatal
__28-[RCTCxxBridge handleError:]_block_invoke
_dispatch_call_block_and_release
_dispatch_client_callout
_dispatch_main_queue_callback_4CF
__CFRUNLOOP_IS_SERVICING_THE_MAIN_DISPATCH_QUEUE__
__CFRunLoopRun
CFRunLoopRunSpecific
GSEventRunModal
-[UIApplication _run]
UIApplicationMain
main
start
![image](https://user-images.githubuse

[2021-07-02 09:42] dimaportenko commented on #187
hi @huya03487
I've just done
[code]

 And I don't see the error.
 Can you provide steps to reproduce your error?

[2021-07-13 13:54] Digiraf commented on #104
i had the same problem with the create  customer request. check your request output en debug it.
magento 3.5 en 2.2.4 api differs so test you Api with swagger. if it works check the request url and compare it with what the app calls. i found out in my case that the store code in Magento\Store\Model\StoreRepository.php that the $code = 'rest' instead of the code in the request url.
i overrided Mage

[2021-07-13 14:56] dimaportenko commented on #104
Hi @Digiraf,
Sorry, I don't understand what you described above.

 1. what do you mean by `create customer request` ?
 2. what is `magento 3.5`, as I know latest version of magento 2.4.x ?

[2021-07-15 05:39] Digiraf commented on #104
1- the POST request to create customer with the API: V1/customers
2-  magento 2.3.5-p1 version

I tested it with both versions and the rest API is apparently different in Magento latest version.

when i test the request with swagger: `swagger#/customerAccountManagementV1/customerAccountManagementV1CreateAccountPost`
it returns: `/default/rest/all/V1/customers ` as request url.
But the app is doing

[2021-07-15 09:12] dimaportenko commented on #104
I don't know if Magento changed the rest endpoint structure since I've started this project, but randomly opened docs stills points to the
[code]

https://devdocs.magento.com/guides/v2.4/rest/tutorials/index.html#performing-steps

@Digiraf are you testing with a clean Magento version or you have 3d party extension or some customization?

[2021-07-15 09:26] dimaportenko commented on #104
Also, I've just checked swagger on clean Magento 2.4, it shows
[code]
so it's still the same.

[2021-07-15 09:30] dimaportenko commented on #104
Take a look https://magento.stackexchange.com/questions/216476/magento-2-api-default-vs-all-vs-none

so `all` and `default` are scope variables and you have it twice in your endpoint `/default/rest/all/V1/customers`. Looks like definitely something was changed on your Magento instance and it's not working as initially designed.

[2021-07-15 22:57] Digiraf commented on #104
Have you tested it in 2.3.5-p1?

[2021-07-15 23:06] Digiraf commented on #104
I think that is a quick conclusion don't you think? You didn't tested it in 2.3.5-p1?

Besides i have a lot of things to notice in your app and i was shocked that you are using admin endpoints from within the customer app. Request like sales orders

Try your self to test as folows:

1-create account in the app
2-add something in cart
3-logout
4-try to add something in the cart. That will fail
5-Lo

[2021-07-16 08:47] dimaportenko commented on #104
I think you overrate `admin` endpoints. It just means the endpoint requires additional permissions.

Generally, Magento 2 out-of-box REST API is awful and I don't recommend using it if you are going to build a solid solution.

Luckily, Magento team introduce GraphQL. For those, who are curious about usage of Magento 2 GraphQL API I recommend to check https://github.com/dimaportenko/magento-react-n

[2021-07-16 09:02] dimaportenko commented on #104
My quick conclusion is based on years of experience work with Magento. I can bet 100$ I'm correct. @Digiraf let me know if you're in.

[2021-07-17 12:19] Digiraf commented on #104
Am sure about your experience. Am not sure about magento2.
You made a lot of effort in the app and thats a great work but after tests i see that it fails to refresh quote ids or tokens  for both cusomer and guests. that is very frustrating. but again i have fixed it

[2021-07-17 12:29] Digiraf commented on #104
post request like these an easily be be changed to a different customer. so if you call this in every app you are selling a hug security issue for all merchants

[2021-07-17 13:02] dimaportenko commented on #104
I don't see your PRs

I'm not selling anything and as I said above I don't recommend use Magento REST API for mobile app at all (since GraphQL exists).

Btw I'm also shocked you are using this app. And I'm very frustrated you didn't pick another well done alternatives, or even better create it yourself.

[2021-07-17 13:57] Digiraf commented on #104
i write all apps you want native or anything else and i promise you i've seen many better alternatives.
but again thanks for waste of time.

[2021-08-23 13:04] templatetuners opened #189 "After register firstname returns error"
- magento 2.2.11

After register, goes into account page with a infinite loading at top instead of name. Returns error

` ERROR  TypeError: Cannot read property 'firstname' of null, js engine: hermes`

You need to logout and login again

[2021-08-23 13:15] dimaportenko commented on #189
@templatetuners can you reproduce it on a clean Magento instance?

[2021-08-23 13:29] templatetuners commented on #189
yup, it's clean magento

[2021-08-23 13:35] dimaportenko commented on #189
in case it is a remote server instance can you send me your `magento.js` config so I can check it on my end?

any reason to use such an outdated Magento version?

[2021-08-23 13:59] templatetuners commented on #189
going to try later today with newer version of magento. thanks for quick reply
I'll let you know

[2021-08-23 14:03] dimaportenko commented on #189
https://devdocs.magento.com/guides/v2.2/release-notes/release-notes-2-2-11-open-source.html

_This release (Magento 2.2.11) marks the final supported software release for Magento version 2.2. Magento 2.2 will no longer receive security updates or product quality fixes now that its support window has expired._

[2021-08-23 14:51] templatetuners commented on #189
same with 2.3.2

[2021-08-23 15:58] dimaportenko commented on #189
I think I was able to fix it. Try the latest commit from the repository https://github.com/dimaportenko/magento-react-native/commit/890c8886edf68fc931c16f4b9f659eac6b57d7c3.

Feel free to reopen this ticket.

[2021-08-23 15:58] #189 closed

[2021-08-23 16:56] templatetuners commented on #189
That is fixed now.
One more bug :)
When you go to My address, Region is not autocompleted.

You can save it if you choose a region than update, but it's blank when you exit the page and get back

[2021-08-23 16:59] templatetuners commented on #189
Same for Checkout page, also Country is blank too here

[2021-08-23 17:04] dimaportenko commented on #189
@templatetuners please create another issue, I'll take a look later this week

[2021-08-23 17:05] dimaportenko commented on #189
screenshots are appreciated

[2021-08-23 17:18] templatetuners opened #190 "Empty values for Country and Region on address page and checkou"
I type my details in address page, press update than exit. When I get back to page the selectbox for Region is empty.

Similar is happening when I go to checkout, there both Country and Region are empty

![Screenshot_20210823-201442](https://user-images.githubusercontent.com/3463791/130489485-0cbf1cb0-3647-4dd2-bbea-b487a06c9833.png)
![Screenshot_20210823-201430](https://user-images.githubusercont

[2021-08-23 18:32] dimaportenko commented on #190
Thank you for the report, I'll be busy the next couple of days. I'll back to it once I have time.

[2021-08-24 10:12] #187 closed

[2021-08-25 09:58] #190 closed

[2021-08-25 10:22] dimaportenko commented on #190
@templatetuners check this out ☝️

[2022-02-21 11:14] SuPInoWeb opened #194 "Issues on running app"
error: src/actions/RestActions.js: #<WeakSet> could not be cloned.

[2022-02-21 11:30] dimaportenko commented on #194
https://github.com/dimaportenko/magento-react-native/issues/187

[2022-02-21 11:31] dimaportenko commented on #194
https://github.com/dimaportenko/magento-react-native/issues/184

[2022-02-21 11:42] SuPInoWeb commented on #194
Not working for me

[2022-02-21 11:44] dimaportenko commented on #194
thanks for letting me know.

[2022-09-12 17:07] mahmouddev96 opened #200 "Issue on running ios app"
error: src/actions/RestActions.js: #<WeakSet> could not be cloned.

[2022-09-12 17:10] mahmouddev96 opened #201 "npm install not working fine"
pm WARN ERESOLVE overriding peer dependency
npm WARN While resolving: @babel/plugin-proposal-class-properties@7.0.0-beta.40
npm WARN Found: @babel/core@7.12.17
npm WARN node_modules/@babel/core
npm WARN   dev @babel/core@"7.12.*" from the root project
npm WARN   158 more (@babel/helper-compilation-targets, ...)
npm WARN
npm WARN Could not resolve dependency:
npm WARN peer @babel/core@"7.0.0-beta.4

[2022-09-12 17:13] dimaportenko commented on #201
Yes, npm install isn't working. Follow the docs https://github.com/dimaportenko/magento-react-native/wiki/Setup#3-installing

[2022-09-12 17:13] #201 closed, assigned to nobody

[2022-09-12 17:14] #194 closed, assigned to nobody

[2022-09-12 17:14] #200 closed, assigned to nobody